[2016-02-17 20:15] JamesLaskey opened #1 "Different Regression Models"
Implement and test accuracy of regression models.

[2016-02-17 20:18] JamesLaskey opened #2 "Incorporate Head Movement"
Currently the position of the head is not being accounted for. Any motion of the head can severely impact the accuracy of the model. Webgazer should include information about the head position in its regression models to improve accuracy.

[2016-02-17 20:21] JamesLaskey opened #3 "Error Reporting"
The pipeline of different extraction steps does not report errors informatively. The pipeline does not also track any accumulation of errors. This means that any issues are opaque to end users and much more difficult to debug. Will require API changes.

[2016-02-17 20:23] JamesLaskey opened #4 "Time to reach Accurate"
Currently we assume that webgazer is accurate immediately. However, this is a false assumption for all the models. We should expose some ability for developers to determine when the model has begun to output accurate predictions

[2016-02-17 20:25] JamesLaskey opened #5 "Offline Training"
Consider the effectiveness and viability of performing offline training. This could be individual user data, global user data, or data from a study. This may allow a baseline performance which jump starts the accuracy.

[2016-02-17 20:28] alexpapster opened #6 "Transfer API"
From [Google Doc](https://docs.google.com/a/brown.edu/document/d/1c__qDYoiyDpN4UBckbXhO2a8K4FUqdVF49MQvOWm2gk/edit?usp=sharing) to HTML. Connect to website development.

[2016-02-17 20:30] JamesLaskey opened #7 "asm.js"
Examine feasibility of building webgazer with asm.js for performance gains.

http://asmjs.org/

[2016-02-17 20:32] JamesLaskey opened #8 "Profiling"
Run profiling and diagnostic tools to determine focus areas for optimization. Use this Issue to track areas where performance suffers the most.

[2016-02-17 20:33] alexpapster opened #9 "Example Pages"
Creating simple example pages with demonstrating basic functionality of WebGazer. e.g. showing the video from clmtrackr and a circle for the gaze prediction. Once we have those pages move them to the website.

[2016-02-17 20:35] JamesLaskey opened #10 "Web Workers"
Investigate the feasibility and performance gains from using web workers (javascript threads). Training the model could be moved to a separate thread for potentially large performance gains.

https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers

[2016-02-17 20:37] JamesLaskey opened #11 "Determine Performance vs Feature and Training Example Size"
Currently we don't have any indication as to how performance characteristics change when feature vectors are changed or when the total number of training examples grows large. Determining these growth relationships means we can set appropriate maximums and set optimal trade offs.

[2016-02-17 20:39] alexpapster opened #12 "Documentation - Break into components"
Tentative List of components

- **Trackers** for facial feature detectors
-  **Regression Models** For now ridge regression
- **Utilities**

[2016-02-17 20:40] alexpapster opened #13 "License"
Choose what license we will release the code under.

[2016-02-17 20:43] JamesLaskey opened #14 "User specific properties"
At the moment there is a skeleton set up for saving and loading configurations and training data on the same domain. This should be extended to incorporate other user specific components such as: computer performance maximums, generalized features, model weights, etc.

We should also see about possible ways of sharing data across different domains. This may require a minimal webserver to share loc

[2016-02-17 20:44] JamesLaskey opened #15 "Blink Detector"
Current skeleton code needs to be fleshed out. Missing a distance metric with which to determine the outliers corresponding to a blink.

[2016-02-17 20:46] JamesLaskey opened #16 "Fixation and Saccade algorithms"
We have no algorithms in place to detect fixations or saccades. This would be a useful feature for scientific domains.

[2016-02-17 20:46] alexpapster opened #17 "Incorporate tracking.js"
Follow clmtrackr implementation.

[2016-02-17 20:47] alexpapster opened #18 "Incorporate jsobjectdetect.js"
Follow clmtrackr implementation.

[2016-02-17 20:47] JamesLaskey opened #19 "Browser Cross Compatibility"
Currently we only have tested webgazer on Chrome and Firefox. Ideally it should work across all major browsers, but this is currently unknown.

[2016-02-18 22:04] alexpapster opened #20 "getPupil and related functions only in Linear Regression"
For now the ridge regression is not utilizing the pupil position. Nevertheless the getPupil and its associated functions are used. We should move them to the linear regression pipeline, they waste unnecessarily computations.

[2016-02-19 18:54] JamesLaskey opened #21 "Adjust video resolution via api"
Currently video is set to be default video size \* scaling factor where the scaling factor is .5. This should be changed to be a configurable parameter.

[2016-02-24 20:52] #17 closed, assigned to JamesLaskey

[2016-02-24 20:52] #18 closed, assigned to JamesLaskey

[2016-02-29 16:50] #10 closed, assigned to nobody

[2016-04-13 18:39] #13 closed, assigned to jeffhuang

[2016-05-23 18:09] #21 closed, assigned to nobody

[2016-05-23 18:11] #20 closed, assigned to nobody

[2016-05-23 18:15] #14 closed, assigned to nobody

[2016-05-23 18:16] #9 closed, assigned to JamesLaskey

[2016-05-23 18:16] #6 closed

[2016-05-25 18:26] donaldr3 opened #23 "license.md does not contain license"
The file only contains the licensing header information, but I didn't find the actual license file included in the project. You should include a copy of the license (found here http://www.gnu.org/licenses/gpl.txt).

[2016-05-25 19:40] alexpapster commented on #23
Thanks, I added the gpl.txt and gplv3.md

[2016-05-25 19:40] #23 closed

[2016-05-26 11:36] goldensunliu opened #26 "Create npm module for webgazer"
Making it an NPM installable module will sure drive the package's adoption by the community.

[2016-05-27 00:27] zaerl opened #27 "Files not included in build script"
`src/ridgeRegThreaded.js` and `src/ridgeWorker.js` are not included on the `build/toCombine` file list. Is this intentional? Right now the threadedRidge regression use a `webgazer.reg.RidgeRegThreaded` function which is not defined.

[2016-05-27 18:02] alexpapster commented on #19
Check for possible solution here  http://stackoverflow.com/questions/24676240/how-to-access-webcam-via-internet-explorer-11#answer-24676766

[2016-05-28 03:36] ShabbirBaloch opened #28 "یوم تکبیر"
#یوم_تکبیر celebrated as national day in Pakistan,May 28 in commemoration of Chagai-I& II detonated 7nuclear devices

[2016-05-28 03:40] #28 closed

[2016-05-30 15:01] Adrion commented on #26
I think it can be used as a bower dependency since it's more like a frontend tool

[2016-05-30 16:28] Skylion007 commented on #19
I'd personally advocate [this library](https://github.com/webrtc/adapter) as it's maintained by the WebRTC project.

[2016-05-30 16:48] Skylion007 opened #29 "Navigator.getUserMedia is off standard"
The current draft of W3 standard no longer the encourages the use of navigator.getUserMedia but instead uses navigator.mediadevices.getUserMedia. Furthermore, the second standard uses a promise based system instead of a callback based one which holds several advantages.

https://w3c.github.io/mediacapture-main/#dom-mediadevices-getusermedia

[2016-06-02 15:15] ryan-codingintrigue commented on #26
NPM modules can be frontend too. They're generally more popular than Bower now.

[2016-06-03 08:44] mogest opened #30 "GPL licence"
Hello,

Thanks for your excellent software.  I was wondering whether your team would consider licensing this software under the LGPL so it can be used in commercial products—we're a small startup doing some work in the voice recognition area, and it would be fantastic to use your product to detect whether the user had finished talking, or whether they were just thinking, by the position of their e

[2016-06-03 09:06] shivarajnaidu commented on #30
But , I think this awesome bits of code should be in GPL instead LGPL because.. then only we can ensure full freedom along with its future evolution. see..  [Why you shouldn't use the Lesser GPL for your next library](http://www.gnu.org/licenses/why-not-lgpl.html)

[2016-06-03 09:10] mogest commented on #30
I find the FSF's philosophical approach to software ("all software must be open, all closed software is evil") too extreme.  As do you, as we're on GitHub, which is closed source software that uses a whole lot of open source software to work!

LGPL allows you the future evolution of the WebGazer library (all contributions must be returned) without preventing people who want to make closed source s

[2016-06-03 09:27] shivarajnaidu commented on #30
as you said LGPL may allows its future evolution .. but not in beneficial way to software freedom.. LGPL may create undesired side effects. Why not you consider GPL for your commercial software use ? while many people and big companies out there using FREE SOFTWARE

[2016-06-03 21:37] jeffhuang commented on #30
Hi @mogest and @shivarajnaidu, both of you made some great points about the licensing. We put some thought into it, and decided on GPL but LGPL is pretty reasonable too. @mogest How about if we say you can use it on an LGPL license for your startup if it's a small company (say, under $10M valuation).

[2016-06-04 00:33] shivarajnaidu commented on #30
:+1: @jeffhuang  :blush:

[2016-06-04 02:56] mogest commented on #30
Thanks @jeffhuang, that's very kind of you.  Our startup is 3 weeks old with no funding, so... yeah, we're a while away from $10M!

[2016-06-04 02:56] #30 closed

[2016-06-05 17:23] Skylion007 opened #31 "Update mat.js to use performant Javascript libraries"
Currently, mat.js relies on naive, un-optimized code ported from Java to for use throughout the libraries. We should look into porting some of this code to rely on optimized, high performance code. If anyone has any Javascript libraries they would like to recommend, please list them here.

[2016-06-05 17:46] Skylion007 commented on #31
Here are a few that may work well:

https://www.npmjs.com/package/m4th
https://github.com/larspars/linalg.js/

[2016-06-06 07:59] HugoDF commented on #26
I would be quite happy to wrap this into an npm package for you to publish if that's something you would be willing to do.

[2016-06-06 12:04] Adrion commented on #26
I think that @brownhci should publish it with his own account.

[2016-06-06 12:43] Skylion007 commented on #26
That being said, we would gladly accept a pull request if you wish to do the necessary wrapping to convert the repo into an NPM module. Doing so would save use a lot of time and allow us deploy it faster.

[2016-06-06 12:58] Skylion007 opened #32 "Use TypedArrays for DataWindows in util.js"
Currently, datawindows utilize generic arrays. In the future, they should use TypedArrays to speed up computation. Also, this construct seems common enough where I would also recommend seeking out an optimized library to carry out this computation. Regardless, using generic arrays as is being utilize now will significantly slow down the library.

[2016-06-06 13:52] Skylion007 commented on #32
This is a low priority optimization as it appears as though the performance improvements won't be extremely [significant](http://stackoverflow.com/questions/13328658/are-the-advantages-of-typed-arrays-in-javascript-is-that-they-work-the-same-or-s), but it's a possible optimization none the less.

[2016-06-06 14:24] Skylion007 commented on #8
I've done some profiling with Google Chrome's profiler. Most of the bottlenecks where in clmtrakr as expected. One potential area of optimization is the LUDecomposition in the mat.js file as that was taking up a significant fraction of the execution time.

[2016-06-06 14:31] Skylion007 opened #33 "Cross Domain Training Data Storage"
Currently, we use HTML5 storage to store the user's training data. We may in the future want to add the ability to store local data cross domain using various tricks such as the [this](https://github.com/ofirdagan/cross-domain-local-storage) library uses.

[2016-06-08 01:26] JamesLaskey commented on #27
WebWorkers require a javascript file url to set their execution code. The code to run inside the webworker is ridgeWorker.js. Currently ridgeRegThreaded starts the webworker with

`this.worker = new Worker('../src/ridgeWorker.js');`

However, this is a particularly brittle solution and adds an extraneous file to be packaged alongside webgazer.js. I believe that the best solution would be to set th

[2016-06-09 15:13] surdu commented on #33
Maybe as a browser extension would be easier ?

[2016-06-09 15:31] Skylion007 commented on #33
Interesting idea, adapting this extension with the ability to be used a browser extension could provide a lot of possibilities. For instance, you could create heatmaps about where you are staring on screen. Unfortunately, this is a little outside the current scope of this project at the moment, but we are always open to constructive pull requests.

[2016-06-09 15:33] Skylion007 opened #35 "Clean Up Repo Commit Process + Make a Crossplatform Build Script"
Currently, when you submit a change to the repository, you must first modify the individual source files, then run the build script, then copy the newly built script to the www folder. This is terribly inefficient and each change can become 23MB or more! We are also in desperate need of defining a style guide and documentation for committing to the repository.

[2016-06-09 15:38] Skylion007 commented on #31
So apparently, CLMR tracker relies on numeric.js as a dependency. Numeric.js is a very useful Javascript library that includes a highly optimized linear algebra library. Commit e8a9de61214cdf335941580bbef1ac60b3d05c01 begins the process by replacing the unoptimized mat.js function with a call to Numeric.js. Note: Numeric.js does not currently support QRDecomposition, we will need to keep that impl

[2016-06-09 15:41] Skylion007 commented on #7
I've looked into an asmjs is not very easy to write by hand at all! Also, as long we write our functions to not be megamorphic, we should get similar performance gains in modern Javascript engines such as V8 due to the looping nature of our code base.

[2016-06-09 15:44] Skylion007 opened #36 "Add a Unit Testing Framework and Write Unit Tests"
While we are cleaning up the repository, it would certainly help to add a unit tests to this repository, especially now that we are optimizing the code base. Any help and all help would greatly be appreciated in this matter.

[2016-06-09 22:21] zaerl commented on #35
I can help the maintainers with this problem. I think that you should use one of the popular building tools like gulp, grunt or whatever and npm for managing all the dependencies. The `www` folder IMHO can be moved to a separated branch.

[2016-06-10 09:55] surdu commented on #33
I'll try to see if I have the time to write the extension (as a separate project) that will gather training data and feed it to the storage to all the pages that use the WebGazer.

Don't know if anything I said makes sense, as I didn't had the time yet to look over the code of this project :)

[2016-06-10 13:13] Skylion007 commented on #35
I definitely agree that www should be moved to a separate branch, although probably not to "gh-pages" since I think we still wish to use Brown University as our webhost.

I don't have a lot of experience with JS build systems so I am not sure whether Gulp or Grunt would work better for this project, but anything would be better than the SH build script we currently employ. We also have another iss

[2016-06-10 13:16] Skylion007 commented on #33
Alternatively, maybe we somehow get the browser to store the data in the domain that the Javascript originates from and start hosting official copies of the script online on a single domain. I haven't had a chance to look into whether that strategy would work or not.

[2016-06-10 13:42] Skylion007 commented on #31
Now that we have an optimized version of LUDecomposition, we may be able to still further improve performance if we use the GPU to parallel these operations. Finally found a [Javascript library](https://github.com/gpujs/gpu.js) that may be suited to the task of implementing complex functions such as LUDecomposition within the GPU. If anyone can these operations implemented, let me know. They also

[2016-06-10 14:34] surdu commented on #33
Yes, but with the extension, you have the advantage of gathering training data all the time, and share it with all the sites that need it.

[2016-06-10 20:23] zaerl commented on #35
Nowadays gulp is by far the most used task runner and it's an excellent choice. I can enclose the project on an NPM module but you have to register it on npm central repository.

[2016-06-12 17:01] Skylion007 commented on #35
We'd be glad to register the module on the NPM central repository.

[2016-06-12 18:45] Skylion007 commented on #32
After further analysis through profiling, Datawindows do not provide the amount of overhead I was expecting. They can still be more efficient though, but for now I am closing the issue.

[2016-06-12 18:45] #32 closed

[2016-06-12 19:00] Skylion007 opened #37 "Consider different Multidimensional Arrays Implementations"
So after looking through the optimizations of this library, we are more or less at a local minimum when it comes to our naive representation of multidimensional arrays. They are currently untyped and simply use the classic Array of Array implementation. We should consider ways of storing our arrays in alternative ways and possibly typing them to get better performance. There is a case to be made t

[2016-06-12 19:04] Skylion007 commented on #8
Here are the three prime spots for optimization that I have identified:
1. The ridge() method and it's submethod is probably our best bet for improved performance.
2. track() inside of CLMR tracker
3. getPupilFeatures() and it's methods in CLMGaze is also in need of potential optimization.

[2016-06-12 19:11] Skylion007 commented on #33
Yeah, but it has occurred to me that to be accurate over long periods of time we really need #2 to be resolved. Otherwise, head movements even just reorienting the webcam would make training data for long periods of time become unreliable.

[2016-06-16 19:18] Skylion007 opened #38 "Use Temporal Smoothing for Improved Accuracy."
CLMTrakr works very well, but produces relatively jittery output. This is severely hampering the accuracy of the detector. We should implement some form of temporal filtering similar to a Kalman filter to increase accuracy and reduce noise. Other suggestions on how to combat this issue are welcome.

[2016-06-16 19:23] Skylion007 commented on #33
So it's look like we may need revisit our training model entirely to safely incorporate head tracking. Other features like #38 will benefit us much more in the short term.

[2016-06-16 20:58] jeffhuang commented on #33
Agreed. This could also be a privacy issue if the user is storing eye tracking data on their computer for long term.

[2016-06-16 21:02] Skylion007 commented on #33
True, but I don't consider the privacy to be much of an issue in this case. After all, there is far more sensitive information stored in the browser already. Keeping the webcam turned on to gather data, is a completely separate but valid concern.

[2016-06-18 14:53] alexpusch opened #39 "Updating regression on mouse move should be optional"
The tracker regression data is updated on mouse click and mouse move under the assumption that the user is looking at the mouse pointer while performing those action. I think that for mouse movement this assumption is wrong. IMO in most cases the uses looks at the target of movement, instead of the mouse pointer.

What do you think?

[2016-06-18 15:34] Skylion007 commented on #39
I was actually thinking the same thing. However, it can be correct under certain circumstances. For instance, if you are playing a game where the mouse acts as the player, then you would be looking at the mouse. As such we might want to include a toggle. Additionally, I think we need to be more intelligent about how we handle mouse movements. For instance, dragging the mouse might have a different

[2016-06-18 20:13] alexpapster commented on #39
Alex, your concern is not baseless, indeed the cursor movements are not
that strongly correlated with the gaze. This is the reason that they only
contribute for 1-2s in our model and not permanently as clicks do. Even if
there is a looser relationship between cursor movements and gaze there is
still intention when the user moves their mouse. If you check our paper we
have ran a long user study tha

[2016-06-23 18:44] Skylion007 commented on #38
Resolved by 06baffd , hopefully

[2016-06-23 18:44] #38 closed

[2016-06-25 16:13] Skylion007 opened #40 "Potential Issue: Warn user of potential downscaling"
So apparently, it appears as the positions returned by the CLMGaze are the coordinates of the canvas. This means if the camera is fed in a higher resolution than the canvas, then the video gets down sampled significantly and the eye features only get reduced to bounding boxes that approximately 20 by 10 pixels instead of the usual sized bounding boxes.

Furthermore, since the pixels are taken from

[2016-06-27 20:34] jeffhuang commented on #40
Seems like a great thing to put in as soon as we can. Any idea what's needed for this to go into the main branch?

[2016-06-28 16:13] akhileshdarjee opened #42 "Webcam eyes tracking and performing functions"
Hi Team,

I want to create a website where a link should open if I look at it for more than 2-3 seconds which will require webcam eyes tracking.
Is this possible with WebGazer?

It would be great if we get to see some demos of it.
Thanks.

[2016-06-28 16:18] Skylion007 commented on #26
Closed by #41

[2016-06-28 16:19] jeffhuang commented on #42
Technically possible, but the precision could be a problem at this moment (so the gaze position might be jumpy). We're working on improving that right now.

[2016-06-28 16:19] #42 closed

[2016-06-28 16:20] alexpapster commented on #42
Hi there,

in theory you can, although that's out of the scope of WebGazer's functionality.

Assuming that WebGazer has been trained through clicks within your original page then you can use its predictions and create a custom function that examines if they fall within the link element (perhaps using ElementFromPoint) and then redirect it to the target page yourself.

Let us know if you manage to

[2016-06-28 16:24] #39 closed

[2016-06-28 16:27] akhileshdarjee commented on #42
Thank you.

[2016-06-28 16:38] Skylion007 commented on #26
So while the package.json is getting merged, I think this issue is actually getting blocked by the fact that the require.js branch properly is still pending.

[2016-06-28 17:01] Skylion007 opened #43 "Convert repository so it's require JS compatible."
As part of #35, we should probably make this module follow the [requirejs](https://requirejs.org/) framework for easy integration with other projects. Resolving this issue would also help solve #26 and make it easier for us to include dependencies into the project. Any help in this regard would be greatly appreciated and we look forward to pull requests to help satisfy it.

[2016-06-29 20:13] prestontw opened #45 "threadedRidge and linear regression models return (0, 0)"
On the master branch, fresh copy of the aggregate webgazer.js, neither threadedRidge nor linear regression updates the predicted x and y values. They both return {x: 0, y: 0}. For contrast, both regular ridge and weighted Ridge work fine.

[2016-07-01 15:31] Skylion007 commented on #45
Unfortunately, the fact that linear regression doesn't work is a known issue. However, it's model is much worse than ridge regression since it has a tendency to overfit. As for ThreadedRidgeRegression we are still working on it, but it does tend to have stability issues as you noted.

[2016-07-07 15:57] Skylion007 commented on #40
So upon further investigation it does not appear like it should significantly affect accuracy. Nevertheless, I did have some qualitative improvements when I upscaled the video, even though in theory the video becomes downscaled again anyway. Regardless, it's clear the WebGazer should be insensitive to the size of the canvas so we should address this or at least warn the users when detection is lik

[2016-08-03 18:57] #12 closed

[2016-08-03 19:00] alexpapster commented on #35
www contents were moved to a new branch (www)

[2016-08-03 19:08] alexpapster commented on #35
If you'd like to you can create under brownhci a separate repository and we can put it there. I don't mind as long as it doesn't come with the master branch.

[2016-08-03 19:09] jeffhuang commented on #35
Doesn't matter to me that much. What do you want to do?

[2016-08-04 14:47] alexpapster commented on #35
I prefer it as it is, it's very fast and easy to manage, although not very conventional. Unless anyone has an alternative suggestion let's leave as it is, at least for now.

[2016-08-07 18:33] Skylion007 commented on #35
@zaerl I found a Grunt file that I modified to suit our build needs for now, a Gulp build system might be better down the line but for just concatenation and uglification, this seemed the easiest. Still open to a Gulp build system to complement the Grunt one.

[2016-08-08 18:34] Skylion007 commented on #26
I've started the conversion to a node style build system.

[2016-11-04 01:57] argenisleon opened #50 "x and y Canvas position for eyes, mouth..."
Hi,

I am having a difficult time to get the x,y position for th eyes polygon. Is there any function that return this data?

[2016-11-04 17:01] Skylion007 commented on #50
This more has to do with the CLMTrackr dependency than webgazer. Simply call the Clmtrackr interface through webgazer.tracker.ClmGaze.clm.getCurrentPositions() if I recall. Alternatively the getEyePatches function in the webgazer.tracker.ClmGaze.getEyePatches will get the bounding box around the eyes. If you use the get currentPositions, here are is the number of each in point in the array that is

[2016-12-08 12:11] fdecampredon commented on #30
Hm could you make it clear in license project with dual licensing ?
Is there a way to have a commercial license in the future ?

Thanks

[2016-12-09 19:09] alexpapster commented on #30
@fdecampredon could you give me some input for the commercial purpose you have in mind? Is there a reason that you are not covered with the LGPL license we have for startups?

[2016-12-16 08:56] fdecampredon commented on #30
We are completely ok with the terms of LGPL license and the $10M limit, but I'll have hard time convincing my company that we can use this project with just a github issue, could you make it clear in the source of the application by adding the dual licensing in the LICENSE file of the source ?

[2016-12-18 16:05] fdecampredon commented on #30
Ok I have just seen that commit https://github.com/brownhci/WebGazer/commit/beeecc3469b22c47c039bad869ac3e01c2f1d96f thanks ! everything is pefect

[2016-12-18 16:11] alexpapster commented on #30
@fdecampredon You're welcome. I think I don't need to change the LICENSE file, too.

[2016-12-18 16:12] fdecampredon commented on #30
Yeah it's fine like this, thanks !

2016-12-18 17:11 GMT+01:00 Alexandra Papoutsaki <notifications@github.com>:

[2017-02-10 03:51] joanasleet opened #54 "Fallback to slower javascript version"
This official websites [demo](https://webgazer.cs.brown.edu/demo.html?) works perfectly, but when I serve the _webgazer.js_ script locally, it tells me that some webGL programs couldn't be setup and falls back to  a slower javascript version. My browser (latest chrome) tells me webgl and canvas are fully hardware accelerated.

Can I help it somehow ?

(Looking at the demo site source, it seems lik

[2017-02-10 14:14] joanasleet commented on #54
Ok, the script must be imported when the document is fully loaded - not in the head tag.

[2017-02-10 14:14] #54 closed

[2017-02-10 17:00] alexpapster commented on #54
Glad you resolved this @joanasleet, I had the same solution in mind

[2017-02-27 22:37] jparaya opened #55 "Pupil dilation?"
Is it possible to detect pupil diameter, so we can also measure changes on its size?

As far as I can see, the library detects the eye shape, and puts a pixel on its center, as a reference to the pupil, but I'm not sure if is possible to detect where the iris finishes.

Thanks!

[2017-02-28 00:51] alexpapster commented on #55
@jparaya we do not currently have a pupil size detection component. In the past, we tried identifying the darkest cluster of pixels within the eyes and we assigned the center of it as the pupil. Most of the times our detected area was the whole iris, therefore we did not incorporated in WebGazer. I would say that at its current state pupilometry is not possible, but this is definitely an area we a

[2017-02-28 00:51] #55 closed

[2017-03-30 17:22] #50 closed

[2017-05-16 04:32] dakshshah96 opened #58 "No Git tags in GitHub repo"
Hey @Skylion007,

I'd like to host your library, WebGazer.js on [cdnjs](https://github.com/cdnjs/cdnjs) — It is one of the most famous free and public web front-end CDN services which is used by [~1,143,000 websites](https://trends.builtwith.com/cdn/CDN-JS) worldwide.

The git auto-updater for cdnjs relies on [git tags](https://github.com/moappi/json2html/tags) to recognize a release version and a

[2017-05-16 17:07] dakshshah96 opened #59 "Which files need to be hosted on CDNJS?"
Hey @Skylion007,

I'd like to host your library, WebGazer.js on [cdnjs](https://github.com/cdnjs/cdnjs) — It is one of the most famous free and public web front-end CDN services which is used by [~1,143,000 websites](https://trends.builtwith.com/cdn/CDN-JS) worldwide.

Before hosting the WebGazer.js library on cdnjs, I wanted to verify the files which need to be hosted online so users can use your

[2017-06-12 18:18] yasyf commented on #45
@Skylion007 I've fixed a bug that would have broken linear regression in #61

[2017-06-26 20:18] andrade1379 opened #63 "Can webgazer be utilized to type with your eyes?"
Great product!

Was wondering if webgazer can be used to type using an onscreen keyboard?

[2017-06-26 20:25] alexpapster commented on #63
Thanks @andrade1379 ! WebGazer is trained with clicks and cursor movement. I think you can tweak it to actually it calibrate it that way and then use the point of gaze to press keys. My concern would be that the current accuracy (about 1 inch) would make it hard to not "press" the wrong keys. Also, you would need to find a way to self-calibrate it to avoid drift.

[2017-06-26 20:35] andrade1379 commented on #63
Thank you @alexpapster for such a quick response. Would you happen to have some code for me to look at that can give me a jump start in getting this tool to work this way?

[2017-06-26 21:43] alexpapster commented on #63
I am afraid that not really. The demo page we have is pretty straightforward on how to incorporate webgazer in your own page, but we, unfortunately, don't have anything already made that would fit your needs.

[2017-06-28 18:24] #63 closed

[2017-07-16 00:13] #45 closed

[2017-07-16 00:14] Skylion007 commented on #45
Closed by #61

[2017-07-23 12:27] jsimonson2013 commented on #36
@Skylion007 Do you have a particular framework in mind?

[2017-07-23 20:18] Skylion007 commented on #36
I'm open to suggestions. :)

[2017-07-23 20:19] Skylion007 commented on #15
Closed by #62

[2017-07-23 20:19] #15 closed

[2017-07-23 23:43] jsimonson2013 commented on #36
I started setting up karma + mocha over on [this fork](https://github.com/jsimonson2013/WebGazer/commits/unit-testing).

It looks like @TristanVALCKE has done work already with Karma + Jasmine in #52 which seems like a good route, too.

[2017-08-30 05:40] andrade1379 opened #64 "How to stop video stream once .end() is called?"
I'm curious how one would stop the video stream once webgazer.end() is called? I don't see any documentation on this and don't see anything in code where .stop() is being call on the stream.

As it is right now when I call webgazer.end() my webcam is still active.

[2017-11-21 23:29] alexpapster opened #66 "WebGazer script needs to be added on body not head"
Need to investigate why clmtrackr collapses to a slower version when script added in head.

[2018-01-16 02:50] alexpapster opened #69 "node_modules folder missing"
The demo.html relies on node_modules/ code which is missing from the repository

[2018-01-16 05:31] Skylion007 commented on #69
You just need to use npm install to rebuild it.

Sent from my iPhone

[2018-01-16 13:28] idaknow commented on #69
Yes, we thought it was best practice not to include this folder in the repository, and rather the client builds it using `npm install` as written in the instructions.

Let us know if you would rather we include it.

[2018-01-19 11:04] rainede commented on #69
agreed, bad practice to include node modules folder. However it is worth adding to the readme  a link to installing node https://nodejs.org/en/ or even a node tutorial eg https://github.com/workshopper/learnyounode

[2018-01-19 23:51] jeffhuang commented on #66
Any progress on this issue? This seems to be a tough one to track one.

[2018-01-20 01:12] Jack-Wong94 commented on #66
It appears the webgl is not properly set up when the webgazer.js is in the head. It is because the browser will download the javascript and proceed down the line of the html. If the javascript url reference in the head gets stuck it would cause the issue. I have add an async tag when putting the script reference into <head> and it seems to solve the problem.

[2018-01-20 04:25] jeffhuang commented on #66
Ahh good find! That makes sense. Would async still occasionally cause problems since it's sort of introducing a race condition? Do you have a suggestion to make sure that developers do this properly to avoid this bug in the future?

[2018-01-21 03:23] Jack-Wong94 commented on #66
Using async will excute the script while the page continues parsing. From what I see, it doesn't cause problem regarding switching to the slower version of javascript. But if the race condition does cause problem, they can use defer instead of async which would parsing the page first before excuting webgazer.js. It would still solve the problem but also eliminate the potential of introducing a rac

[2018-01-21 03:26] jeffhuang commented on #66
Got it, async sounds like a good solution for now. defer might make things load a bit slower, but might be good to mention as well. Can we add a note about using async/defer in the documentation/readme?

[2018-01-21 03:27] Jack-Wong94 commented on #66
Yes, we could add the note into the readme

[2018-02-02 16:48] idaknow commented on #58
Hi, I have referenced the latest commit as v1.0.0 and will continue to regularly update them as we go along!

[2018-02-02 16:48] #58 closed

[2018-02-02 16:49] idaknow commented on #69
I've updated the README @rainede under your suggestion

[2018-02-02 17:34] #69 closed

[2018-02-02 17:35] Skylion007 commented on #59
There might be an issue here since we have decided to autoregenerate the files with Grunt to help clean up the rep. Can your workflow handle JS file generation?

[2018-02-19 16:17] idaknow commented on #64
Hi @andrade1379 I've just opened a pull request with the functionality to be able to do this and remove the outlines in the video stream. However, I kept this as an optional feature so you'll just need to uncomment .stopVideo() in the .end() method.

[2018-02-19 18:46] idaknow commented on #19
I also noticed this recently that it does not work on Safari. Was this looked further into? If not and no one is currently working on this I am happy to look into possibly finding a solution to this @alexpapster

[2018-02-19 19:01] alexpapster commented on #19
https://caniuse.com/stream getUserMedia is not supported in iOS Safari. But feel free to see if there is any good alternative.  I believe only Flash was available when I checked it

[2018-02-19 21:39] jeffhuang commented on #19
so I believe @idaknow was referring to Safari instead of iOS, and it actually looks like Safari now supports getUserMedia according to the link that @alexpapster posted. I tried it with the latest version of Safari 11 and the camera turns on but the thumbnail doesn't show up, so I imagine we have to look into it. Sounds like a great thing to try and fix and then we can officially support it! :-)

[2018-02-20 14:40] idaknow commented on #19
Great, I'll have a look into whether we can integrate OSX Safari 11.
This may be related to issue #29

[2018-02-26 13:46] K2108 opened #77 "Webgazer works only over https. If you are doing development locally you need to setup a local server"
Even after running it as http-server, the index.html file keeps giving alert "Webgazer works only over https. If you are doing development locally you need to setup a local server" on google chrome version 64.

Please help.

[2018-03-14 21:44] idaknow commented on #66
Added a note to the README regarding this

[2018-03-14 21:44] #66 closed

[2018-03-14 21:45] idaknow commented on #64
This has been merged into master and www branch.

[2018-03-14 21:45] #64 closed

[2018-03-14 21:45] idaknow commented on #29
This has been added into the recent pull request merge into www and master.

[2018-03-14 21:45] #29 closed

[2018-03-14 21:48] idaknow commented on #19
I have added this in the latest merged pull request - should successfully work on Safari 11. Not sure if this can be closed? Or if we keep this open for the browsers not supported yet by getUserMedia()

[2018-03-14 21:57] idaknow commented on #2
Not currently implemented in the regression model but there is a coloured box surrounding the user's face in one of the calibration example files. This should help to suggest to the user that they should keep their head position in the middle of the camera.

[2018-03-15 01:36] jeffhuang commented on #19
can we keep this open until it works on the website?

[2018-03-15 12:40] idaknow commented on #77
Google Chrome versions over 47 require HTTPS or localhost in order to use the `getUserMedia` API securely.

If this is not possible for your type of development you could look into using something like the `unsafely-treat-insecure-origin-as-secure` flag.

[2018-03-15 12:40] #77 closed

[2018-03-16 13:34] K2108 opened #78 "WebGazer eye detection not accurate for people wearing spectacles"
This example (https://webgazer.cs.brown.edu/demo.html?) gives less accurate result on wearing spectacles. How to solve?

[2018-03-16 15:07] Skylion007 commented on #78
This is a known issue with our face tracking library [CLMTrackr](https://github.com/auduno/clmtrackr). The dataset used to train the model is not varied enough. You can try adjusting the parameters of CLMTrackr to improve accuracy or retrain the model for better results.

[2018-03-23 16:09] j-piar opened #79 "window.URL.createObjectURL will stop working soon"
[Deprecation] URL.createObjectURL with media streams is deprecated and will be removed in M68, around July 2018. Please use HTMLMediaElement.srcObject instead. See https://www.chromestatus.com/features/5618491470118912 for more details.

[2018-03-25 01:17] idaknow opened #80 "Integrate precision files into webgazer.js"
As noticed by @alexpapster Webgazer.js does not work effectively alone without precision_store_points.js or precision_calculation.js from the calibration file example. A solution to this could be to intergrate this into the Webgazer file build system.

I will investigate this.

[2018-03-25 01:20] idaknow opened #81 "Minimise duplication between the www and master branches"
There currently exists a lot of duplication between the www and master branches. A solution suggested by @jeffhuang & @alexpapster is to merge these branches.

@Jack-Wong94 will investigate this.

[2018-03-25 01:24] idaknow commented on #79
Good spotting. @Libby713 or I can look into integrating this later this week!

[2018-03-25 01:27] idaknow commented on #81
@Jack-Wong94 I can delete the files from master specific to our calibration file before you do this, if that's helpful.

[2018-04-04 10:42] K2108 commented on #78
The example worked by changing the background to black color. The accuracy of calibration improved significantly on reducing the glare from screen.

[2018-04-04 15:17] jeffhuang commented on #78
Cool idea @K2108 we'll look into this.

[2018-05-02 18:00] idaknow commented on #80
This is addressed in the latest merges to the www and master branch.

[2018-05-02 18:00] #80 closed

[2018-05-06 01:56] idaknow commented on #79
This is successfully updated in the www and master branches, and these changes are reflected on the server.

[2018-05-06 01:56] #79 closed

[2018-05-06 01:57] idaknow commented on #19
The recent pull of the repository onto the server means it is now working successfully on Safari!

[2018-05-06 01:58] jeffhuang commented on #19
Hooray! Should we close this issue?

[2018-05-17 16:44] #19 closed

[2018-05-19 15:37] idaknow commented on #81
I am working on this. I have submitted a pull request to my fork of the repository. Once this is reviewed and merged, I will submit a pull request to this repository.

[2018-06-11 10:12] FranckSCTV opened #88 "How to implement the multiple gazes support?"
Hi,

On http://webgazer.cs.brown.edu/ we can read : "Multiple gaze prediction models".

Unfortunately, I can't find any example that shows how to manage multiple gazes.

Does the library make it possible to track more than one person's eyes movements?

How?

Thanks in advance!

[2018-06-11 16:00] alexpapster commented on #88
Hi @FranckSCTV !
This sentence refers to the different regression models that you can choose from to map the eye appearance to screen coordinates. Our paper might clarify things http://cs.brown.edu/people/apapouts/papers/ijcai2016webgazer.pdf We have not implemented the tracking of more than one person's eye movements.

[2018-06-11 16:00] #88 closed

[2018-06-11 18:56] jeffhuang commented on #81
this is resolved, I imagine?

[2018-06-11 18:58] idaknow commented on #81
Yeap, the changes have been merged to master. Will close this.

[2018-06-11 18:58] #81 closed

[2018-06-20 22:06] risoms opened #91 "Set ImageCanvas = VideoFeed size for better quality"
Hello, I’m wondering if it’s possible to increase the canvas size (right now at 300x150 pixels) to match the video element used for eye tracking. If it is possible, does this provide any better accuracy in the eye tracker? The reason I ask is that I’m working with a webcam with 4K resolution and it would seem like a waste to not make the most of the resolution.

[2018-06-25 22:17] jamestompkin opened #93 "Only do WebGazer work on receiving a new video frame"
Currently, WebGazer runs as fast as it can on whatever image is in the video element canvas.
Ideally, it would only run when a new frame is added, to reduce redundant work.

This can be tracked via non-standard-HTML ways, e.g., by looking at when the <video> variable counters 'webkitDecodedFrames' or 'mozDecodedFrames' are incremented. However, as far as I know, there is no platform-agnostic way t

[2018-07-16 23:53] ehardacre opened #95 "Data Extraction Package Bugs"
There is a problem with the data extraction when the participant doesn't have a Screen Recording start time logged in the participant characteristics csv. I also got a json decoding error on participants P_28, P_34, P_44, P_48, P_61, and P_62.

[2018-07-25 06:43] davidjb opened #96 "Project website needs to redirect to HTTPS by default so examples work"
Following on from #77, because `getUserMedia` requires HTTPS to work, the examples on the project website will fail if the website is loaded over `http://` (eg `http://webgazer.cs.brown.edu/#examples`).

All the links to the website in this repository use `https://`, but because the website is still available on HTTP (eg it doesn't redirect to `https://`), search engines may still have references

[2018-07-25 21:21] jeffhuang commented on #96
Thanks @davidjb for reporting the issue. I believe this should be fixed in c1430932f4f5de5b64a782a48fb87dfb601c3f7d

[2018-07-25 21:21] #96 closed

[2018-08-04 08:01] jeffhuang commented on #59
Looks like this is closed on the cdnjs side:
https://github.com/cdnjs/cdnjs/pull/11257

I'm closing this issue

[2018-08-04 08:01] #59 closed

[2018-08-04 08:03] jeffhuang commented on #7
The upcoming merge by James Tompkin should have performance improvements. I don't think we will be going the asm.js route. Closing this issue.

[2018-08-04 08:03] #7 closed

[2018-08-04 08:05] jeffhuang commented on #26
I believe this is done? Closing.

[2018-08-04 08:05] #26 closed

[2018-08-12 23:40] jeffhuang commented on #91
Hi risoms, clmtrackr (the default face detection library in WebGazer) downsamples to 12x10 pixels anyways, but I believe James' commit 8c9eb4fd99aa4ddac4443d918c4a7545b9ddd2d2 handles this now. Closing this issue.

[2018-08-12 23:40] #91 closed

[2018-08-12 23:42] jeffhuang commented on #8
Performance improved in a7962dc37c3fec524a7301fa5f9d3a15776fc21d

At this point, we're at a local limit of what we think we can improve performance-wise. Please open a new issue with specific ideas for improving the performance.

[2018-08-12 23:42] #8 closed

[2018-08-12 23:43] jeffhuang commented on #40
commit 8c9eb4fd99aa4ddac4443d918c4a7545b9ddd2d2  addresses this

[2018-08-12 23:43] #40 closed

[2018-10-23 00:29] iainbryson opened #98 "localstorage quota exceeded: Crash on .end() after a couple of minutes of use."
Calling `webgazer.end()` results in an unhandled exception as too much data are saved to localstorage.

e.g. on Chrome, 5MB is the limit for localstorage.  After calibration and a minute or so of extra use, the JSON string destined for storage is 25MB:

[code]
Pull #65 attempts to paper over this issue by swallowing the exception, but it would be far better to limit the storage required (e.g. by s

[2018-11-07 22:06] risoms opened #99 "How are gaze coordinates associated with browser and monitor window size"
When making gaze predictions, is Webgazer using the window.innerWidth/window.innerHeight or window.screen.width/height? Also does this take into account device pixel ratios?

[2018-11-18 16:19] mikemike opened #100 "How can I record the screen along with a visual heatmap?"
I'm looking to create a recordable heatmap using eye tracking.  I'm struggling to see if that is possible with WebGazer.  Any pointers in this respect?

I would imagine a large number of WebGazer users would use this feature.

[2018-12-19 18:35] ianboru opened #101 "Integrating WebGazer with React"
I was trying to build some gaze tracking models for use in js when I stumbled on your project. I am currently trying to incorporate webgazer.js into a React App and later into a chrome extension if the proof of concept works. I built webgazer from source, then moved the /src directory into my app and imported webgazer into my app.

<img width="918" alt="screen shot 2018-12-19 at 1 33 21 pm" src="h

[2019-01-30 05:46] Abhishek679 opened #102 "First time web gazer working but if second time it will be through error"
I'm using web gazer in angular 7.
call **webgazer.end();** on **ngOnDestroy** and also uncomment **webgazer.stopVideo()**.
First time web gazer working but if second time come to the same url it will be through error.
i'm not reorganize why this  can happen. if reload current route it's work.

core.js:12501 ERROR DOMException: Failed to construct 'ImageData': The input data has zero elements.

[2019-01-31 11:58] sneha-belkhale commented on #37
Hey , I was thinking about helping out on this issue ( I really like this project and was planning to use it for a little web experience ) .

It looks like the functions you mentioned are outside the WebGazer repo? It looks like you are using LUDecomposition from the numeric.js library, and tracking is from the clmtracker repo?

[2019-02-02 14:45] km1230 commented on #99
Same question, I am currently working on a project that requires the tracking of the coordinates. It is said that "these x coordinates are relative to the viewport". But how?

[2019-02-03 18:40] alexpapster commented on #99
The click listener adds to the model the [clientX and clientY](https://stackoverflow.com/questions/6073505/what-is-the-difference-between-screenx-y-clientx-y-and-pagex-y) coordinates of a click event.

[2019-02-05 15:00] risoms commented on #99
Are the gaze coordinates relative to the viewport too? Or are they using window.screen.width/height?

[2019-02-05 16:02] alexpapster commented on #99
I have provided a link above that explains the difference, clientX/Y are relative to the viewport.

[2019-02-05 16:02] #99 closed

[2019-02-17 15:08] al-k21 opened #103 "Uncaught TypeError: when using WebGazer with React"
I am seeing `Uncaught TypeError` when useing Webgazer with React. The code that used to work before started to fail with:
[code]
I am getting a message that a`video stream created` in `webgazer.js:10892`

Could anyone help me figure out what is wrong?

[2019-02-20 07:26] QuratulainAkhtar opened #104 "giving zero calibration accuracy"
Hi, I followed the steps given and done installations but when i start live examples given on your web, it gives zero percent accuracy. I don't know how to make it work. Please help me out

[2019-02-20 12:15] QuratulainAkhtar opened #105 "Example calibration"
Hi, I followed the steps given and done installations but when i start live examples given on your web, it gives zero percent calibration accuracy. I don't know how to make it work. Please help me out

[2019-03-22 10:20] Vadymboichuk opened #106 "Uncaught DOMException: Failed to construct 'ImageData': The input data has zero elements."
Getting "Uncaught DOMException: Failed to construct 'ImageData': The input data has zero elements." error every time when trying to load stored data from localStorage. (If you run `web gazer.end()` on unload and onLoad trying to start `begin()` )

[2019-04-08 09:38] Heartbound201 commented on #106
on "webgazer.reg.RidgeReg.prototype.setData" function, i changed

[code]

to

[code]

adding Object.values. Works for me. Hope it helps anyone

[2019-04-08 09:40] Vadymboichuk commented on #106
Yes, it already worked for me) I resolved this problem, but forgot about thread...

[2019-04-08 13:19] Vadymboichuk commented on #102
The problem is in setData() function. It can't restore data from local storage because of issue that Uint8ClampedArray can't be done from array and we need to pass Object to it.

Use this part of code in setData function in every regression type.
[code]

[2019-04-08 13:26] Vadymboichuk commented on #98
Try to change your setGlobalData() function to
[code]

[2019-04-08 13:31] Vadymboichuk commented on #106
Issue resolved

[2019-04-08 13:31] #106 closed

[2019-05-16 20:03] kumarkrati commented on #100
Hi @mikemike did you figured it out? I am also looking for something like this.

[2019-05-21 14:41] christoph-clouds commented on #101
@ianboru have you found a solution to this? I'm trying to import webgazer like you, but am getting the same TypeError. Too bad that the documentation quite unexplanatory.

[2019-05-21 16:35] ianboru commented on #101
@christoph-clouds I ended up putting that project on hold but no i never solved the issue.

[2019-05-21 17:11] christoph-clouds commented on #101
@ianboru too bad! I guess i'll just keep on trying or start looking for alternatives.

[2019-05-21 17:26] ianboru commented on #101
@christoph-clouds  I started to train my own neural net using face tracking points but it wasn't that great. I used posenet facepoints, but openpose may have more points and thus better relationship to on screen eye position.

[2019-05-27 03:08] jeffhuang commented on #103
I'm not sure this has anything to do with React, but createObjectURL is deprecated. It should have been fixed in https://github.com/brownhci/WebGazer/issues/79

[2019-05-27 03:08] #103 closed

[2019-05-27 03:24] jeffhuang commented on #105
Dupe of https://github.com/brownhci/WebGazer/issues/104

[2019-05-27 03:25] #105 closed

[2019-05-27 03:27] jeffhuang commented on #101
Making it work with React would probably require some modest amount of effort to change some of the names. I think the issue is that React treats capitalized classes as Components. We currently don't have time to make these edits, so if someone else would like to, that would be really cool.

[2019-05-27 03:28] jeffhuang commented on #100
I would use something like heatmap.js and put in the array of gaze points in it afterwards.

[2019-05-27 03:34] jeffhuang commented on #100
Actually, have you taken a look at the code by this contributor?

https://github.com/brownhci/WebGazer/pull/94

[2019-06-17 19:45] BrittDeVries commented on #55
I am also interested in this feature and wanted to see if any progress has been made in pupilometry since this question was raised.

Thank you!

Britt

[2019-06-18 05:58] BinaryBen commented on #104
You need to be careful when calibrating because moving the mouse seems to trigger the calibration routine. The software seems to assume your eyes are following the mouse. When I watched the mouse as I moved between the dots to calibrate, I got ~65% accuracy.

[2019-07-09 20:10] fabri01 opened #107 "How to get to 100% accuracy"
Hi, is there any wat to get > 97 % of accuracy ?
Is about spend long time in calibration? Or is something about the math behind the algorithm that make all of this cool stuff available?
I ask because this library could help the development of  an usefull application for a friend of mine that is not able to use his hands.

Thanks to all you guys, and thanks to the open source

[2019-07-09 20:21] alexpapster commented on #107
Hi @fabri01, we cannot guarantee the accuracy of WebGazer. We are in the process of an extensive evaluation but I still don't think we'll be able to guarantee a minimum accuracy, especially at the level that you're looking for.

[2019-07-09 21:30] fabri01 commented on #107
Ok thanks you, i'll wait for some upgrade into the library

[2019-07-09 21:30] #107 closed

[2019-10-08 11:31] tarannumthakur opened #110 "Slowing down UI"
I am using webgazer.js in my project for eye tracking. As I call begin() method  my UI event gets slow. Like clicking and typing get slow.

[2019-10-10 22:05] alexpapster commented on #110
I am sorry to hear that @tarannumthakur . Have you noticed the same issue regardless of device/browser?

[2019-10-11 02:59] fxnoob opened #111 "Integrating with webpack bundler"
By porting the project in common js require or import/export system. It can be used in any of existing js framework or library. eg react, angular.
After doing so Grunt can be safely removed.

let me know if I can work on it?

[2019-10-11 03:03] fxnoob commented on #43
hey @Skylion007 ,
Let me know if i can work on it ?

[2019-10-11 03:03] fxnoob commented on #111
#43

[2019-10-11 03:05] fxnoob commented on #111
afterward a npm module can be created and published easily. so that to require this project in another project it wont need to setup the whole project

[2019-10-11 03:07] fxnoob commented on #111
hey @jeffhuang ,
let me know if I can work on it?

[2019-10-11 03:09] jeffhuang commented on #111
Please go ahead!

[2019-10-11 03:13] fxnoob commented on #111
Hey @jeffhuang ,
thanks for giving me this opportunity. I am working on it.

[2019-10-11 05:20] tarannumthakur commented on #110
Yes. I found that a method name loop() use requestAnimationFrame() which call repetitively the loop method causing this.  requestAnimationFrame() requests that the browser call a specified function to update an animation before the next repaint(m not sure what repaint means here). The number of callbacks is usually 60 times per second, but will generally match the display refresh rate in most web

[2019-10-13 23:59] alexpapster commented on #110
Please go ahead and give it a try, it's worth exploring this direction and seeing if there's any improvement.

[2019-10-24 14:24] brunoalano opened #113 "Missing Quiz Files (Dataset Build Process)"
Hello,

I was searching the files that you used to build the dataset, which were presented to participants, with the questions, inputs and so on.

For example, this one:
![Screen Shot 2019-10-24 at 11 02 58](https://user-images.githubusercontent.com/810642/67495076-b2420b00-f650-11e9-99b9-d385c5e41466.png)

Can you upload those files?

[2019-10-29 16:15] alexpapster commented on #113
Hi @brunoalano I can share them by email if you reach out to me.

[2019-10-29 16:15] #113 closed

[2019-10-29 19:14] brunoalano commented on #113
@alexpapster Can you send to bruno `[at]` monoscope.io? Also sent to you a e-mail on your Pomona profile

[2019-11-28 19:12] gabrielmoterani commented on #111
@fxnoob Still working on this? Need some help?

[2019-12-15 03:48] sushant12 opened #114 "Cant detect eye blinks"
`this.isBlink()` never gets called when I blink my eye.

So far I have only this in my code

[code]
it detected my face and my eye but didnt detect my eyeblinks.

Any idea how i can do that?

[2019-12-15 04:13] sushant12 commented on #114
if I change the position of this it works

[code]
to

[code]

[2019-12-16 15:07] #114 closed

[2020-01-01 16:20] sushant12 commented on #111
i am ready to help too. The current implementation is too rigid.

[2020-01-02 09:06] sushant12 commented on #111
@fxnoob let us know ur progress on this one because me and @gabrielmoterani  are ready to chip in.

[2020-01-04 20:45] majklovec commented on #101
put /* eslint-disable */ as a first line to disable eslint

[2020-01-23 19:05] Faizanshah007 commented on #102
The solution that is given by @Vadymboichuk is almost correct.

[code]
The ['data'] part is required because data[i].eyes.______.patch is itself an object containing another object as name : value pair i.e. {data : {...the main object...}}

Hope this helps ✌️

[2020-01-24 21:30] Faizanshah007 commented on #98
[code]

I made this solution by referencing this repository: [https://github.com/DVLP/localStorageDB](url)

Hope this resolves your issue, at least temporarily

[2020-01-27 04:36] AtulKumarAshmar opened #115 "Safari is getting slow"
hi...

i am using webgazer on safari browser but my browser slow down when i am using webgazer
url of webgazer is https://www.monetrewards.com/monet/user_norm/webgazer.html

[2020-02-02 04:58] innhyu commented on #101
FYI, you can use react-script-load and load the script using a link instead. This bypasses the errors that occur from compiling the script.

[2020-03-19 05:33] viettran-dht commented on #110
@tarannumthakur  any solution for Slowing down UI? :(

[2020-03-26 04:38] teranchristian opened #116 "How to make the gazeDot less "jumping""
Hi guys,

I was wondering if there is any way to smooth the gazeDot.

My plan is to add a second gazeDot and make it a bit more smooth (less jumping). Not sure if it is possible. Otherwise, I would like to smooth the **main** gazeDot.

https://webgazer.cs.brown.edu/calibration.html?

[code]

[2020-04-07 15:28] AuPath commented on #102
Does anybody know why under firefox the data stored in localstorage is saved as eyes.left.patch but under chrome it's eyes.left.patch.data? Why does the data under chrome have an extra field?

[2020-04-17 03:40] ottomp24 commented on #116
I'm interested on this! any news @teranchristian ? or even any hint on where to look at to try to improve would be nice, thanks!

[2020-05-15 19:29] Skylion007 commented on #31
Faster matrix libraries now exists that can operate on typed Javascript arrays on both GPU and CPU. When #118 lands we should consider rewriting our matrix libraries to do as much compute on the GPU as possible and also use the various utilities such as image resizing.

[2020-05-16 18:12] Skylion007 commented on #110
PR #118 makes the main loop async so it should no longer block the UI.

[2020-05-18 17:24] whitmer opened #119 "is webgazer.recordScreenPosition a stable method?"
I want to be able to run my own click-free calibration, and it looks like webgazer.recordScreenPosition is the cleanest way to do so, but I don't see it included in any of the docs so I wanted to check first and make sure I'm not digging into deprecated methods or anything. Alternatively I could manually trigger 'click' events if you'd prefer, but it seemed less clean to me.

I'm happy to add a PR

[2020-06-02 22:58] David-dp- opened #120 "Improve calibration usability"
There are several changes I'd like to make to our version of your calibration task, and I'd like to know your thoughts about whether they would degrade accuracy:

1. What min width and height are needed for the calibration area? For example, we'd prefer to place our standard, static page decoration around the periphery.

2. Can we instruct the user not to use their mouse (or disable WebGazer's mon

[2020-06-03 13:11] hanadi92 commented on #106
I believe this bug fix is not part of the latest compiled webgazer.js on https://webgazer.cs.brown.edu/

[2020-06-09 13:11] kirkins commented on #26
I guess this project was never published on npm?

[2020-06-16 18:56] TimS70 opened #124 "Webgazer gives undefined variable to JSON.parse"
Thank you guys for maintaining this great library! I am currently learning JS in order to create an Eye-Tracking experiment with webgazer. Forgive me my limited knowledge but I think there is something wrong with the current [downloadable version](https://webgazer.cs.brown.edu/webgazer.js?) on https://webgazer.cs.brown.edu/ (June 16th 2020).

I run parts of the code from the examples on the webpag

[2020-06-16 19:29] xanderkoo commented on #124
Hi, couple questions:

1. Could you copypaste/screenshot the place in the code where json.parse is being called? I don't see a JSON.parse in the webgazer download that you linked.
2. Could you attach the files that are using webgazer? I'd like to try and replicate the behavior.

Thanks!

[2020-06-16 21:15] TimS70 commented on #124
Hi @xanderkoo,
1) Here is the JSON.parse - command.
![image](https://user-images.githubusercontent.com/59667633/84828190-a2b66e80-aff3-11ea-88b6-1474425c3afa.png)

I also wonder why you did not find in the JSON.parse in the webgazer code. This code here is the direct link from big blue Download button on webgazer.cs.brown. I saved this page as .js:
![image](https://user-images.githubusercontent.co

[2020-06-16 22:43] xanderkoo commented on #124
The version of webgazer.js you screenshotted is old -- I believe it may have been a caching issue. I recommend navigating back to [webgazer](https://webgazer.cs.brown.edu/webgazer.js?), and refreshing the page. If that doesn't work, try clearing your cache. For reference, this is what I see at the same link:
<img width="1552" alt="Screen Shot 2020-06-16 at 3 40 13 PM" src="https://user-images.gith

[2020-06-16 22:45] xanderkoo commented on #124
In fact, may be good for you to clone the repo and re-concatenate the webgazer.js file directly (there are instructions on the readme). It'll make sure that you have the needed dependencies.

[2020-06-16 23:03] TimS70 commented on #124
I emptied the cache and just found the code that you described. Now it also works in Chrome.

Thank you very much!

[2020-06-16 23:03] #124 closed

[2020-06-16 23:32] alexpapster commented on #120
Sorry for the late response @David-dp- Thanks for the suggestions on improving calibration.html. This is truly just a demo page and we're happy to review a PR if you go ahead and implement some of the suggested changes. We don't have any experience with 1, 3 and 4. For 2, that would need to change the underlying model of how WebGazer works. Rest seems reasonable but 5 probably defies the purpose o

[2020-06-16 23:32] xanderkoo commented on #119
`webgazer.recordScreenPosition` isn't deprecated, perhaps wasn't documented very well. It's used currently in `webgazer.clickListener` among other places. Sounds like a good idea.

[2020-06-16 23:32] alexpapster commented on #120
As a heads-up, we've also made a few changes recently so you might want to pull the latest version.

[2020-06-16 23:32] #120 closed

[2020-06-16 23:35] alexpapster commented on #119
Seconding, @whitmer , recordScreenPosition is the method you'd want to change. We did not intend for click-free calibration but feel free to alter it in your code. As a heads-up, we have recently updated the library so you might want to check the latest version (shouldn't affect what you want to do).

[2020-06-16 23:35] #119 closed

[2020-06-16 23:35] xanderkoo commented on #116
Hi all, we have since implemented a Kalman filter on the prediction model, which reduces the jumpiness of the dot. The parameters can still be adjusted a bit, but the stability should be significantly improved.

[2020-06-16 23:35] #116 closed

[2020-06-16 23:36] alexpapster commented on #115
Sorry the link does not seem secure. Is this behavior only on Safari?

[2020-06-16 23:37] #110 closed

[2020-06-16 23:37] #100 closed

[2020-06-16 23:38] alexpapster commented on #78
Should be much better with newest update with facemesh.

[2020-06-16 23:38] #78 closed

[2020-06-16 23:38] xanderkoo commented on #98
We've transitioned away from local storage to using the [localforage API](https://localforage.github.io/localForage/), which implements [IndexedDB API](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API) and should allow for much more storage on most browsers.

The amount of data stored has also been reduced, and now will come out to about ~10MB after a full calibration.

[2020-06-16 23:39] #98 closed

[2020-06-16 23:47] xanderkoo commented on #102
@Abhishek679 @Vadymboichuk We've transitioned away from local storage to using the [localforage API](https://localforage.github.io/localForage/), which implements [IndexedDB API](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API) and should allow for much more storage on most browsers. This allows for storing of Arrays and Objects, and not just strings, as an added bonus. We've also r

[2020-06-16 23:56] #102 closed

[2020-06-17 03:50] whitmer commented on #119
Thanks, that's helpful! I'm actually experimenting with using it for users who don't have control of their hands, so I'll be doing some manual tracking since they can't click. I know the accuracy won't be top notch, but I'm going to try it with a grid of 9 buttons and see how it goes :-).

[2020-06-19 18:25] darraghdog opened #126 "Video and annotations out of synch in webgazerExtractServer.py"
I am doing some check on the data before loading - using the same methodology as the `webgazerExtractServer.py` script.
Below is one example where I see the annoations and the video out of sync.
See below - the metadata json indicates the video is 35.672910 seconds and FFMPEG returns a time of 35.23 recording. I know it is not a big difference but it is almost half a second which could cause frame

[2020-06-25 15:22] jamestompkin commented on #126
Hi there Darragh,

I looked at this a few years ago, and at the time in our dataset there was a ~per video offset required to align the interaction events with the video.  It might be that the synchronization _at log time_ can be improved; I didn't look at this back when I wrote the webgazerExtractServer.py because the data had already been collected.

From the docs: https://webgazer.cs.brown.edu/

[2020-06-26 15:14] darraghdog commented on #126
Thank you James, this is very helpful.
I did not use the `participant_characteristics.csv` file so far. Note in the version I have from a recend download this file does not have a datestamp, but I guess it is the same file.
In my version, I only have the column J&K for 25 of the participants, it is blank for the others.
Nevertheless, I will redo my analysis, and try to enter a start epoch for ever

[2020-06-26 16:29] jamestompkin commented on #126
`participant_characteristics.csv`: Yes, it is the same file - sorry about that confusion.
The 25 participants should be the laptop participants; we were missing even coarse alignment data for the others.

Good luck! Happy to hear how you get on : )

[2020-07-02 11:32] darraghdog commented on #126
Hi James,

I have worked on a rough way to get the alignment of the videos. I am working with another solution to do gaze prediction (MPIIGaze). I extracted the MPIIGaze facegaze yaw prediction for all the frames - and then looked at correlation between that value and the Tobii XGaze prediction for each frame (rolling mean averaged to 16FPS).

So I mapped the `Recording Start` epoch of the video (

[2020-07-02 17:40] TimS70 opened #128 "getCurrentPrediction returns undefined object"
Dear Community,

In addition to the steady data stream from setGazeListener, I want Webgazer to give me the current prediction when clicking a button. However, webgazer.getCurrentPrediction, as proposed in the [instructions](http://webgazer.cs.brown.edu/), only gives me an undefined. I also tried an async function that waits for the getPrediction promise to resolve but that also did not help as we

[2020-07-03 20:58] xanderkoo commented on #128
It looks like you are referencing `prediction.x` and `prediction.y` at line 44-45. This would return an undefined, because the Promise object wrapping the resolve value does not have an x or y property. If you want to access the value inside a Promise, you have to either use `Promise.then()` or the `await` keyword.

Since `getCurrentPrediction()` is async and returns a Promise, you cannot directly

[2020-07-06 15:38] rifazn opened #129 "Confusion with using the dataset - How do I actually use it?"
I have used WebGazer for the purpose of testing it and so far I did not need to explicitly train it using the dataset provided. I have however calibrated the model to varying extents in different scenarios using the _gaze at mouse pointer and click_ (self-calibration) approach. I have these questions that I really need to be cleared out:

1. When I am using the minified version of WebGazer, am I g

[2020-07-06 19:38] alexpapster commented on #129
Hi @rifazn - WebGazer does not get pre-trained on the EOTT dataset. EOTT was collected for future researchers who want to investigate webcam eye tracking and is not used in WebGazer in its current form.

[2020-07-06 19:38] #129 closed

[2020-07-08 11:49] rifazn opened #130 "Deprecated console.log when regression set to anything but 'ridge'"
If you use either of 'linear', or 'interaction' for `setRegression` (as specified in the [wiki/Top-Level_API](https://github.com/brownhci/WebGazer/wiki/Top-Level-API)), the console instead asks you to use `ridge`, `weightedRidge`, or `threadedRidge`. Using `weightedRidge`, or `threadedRidge` consequently causes unexpected behavior. Perhaps, these options have been deprecated.

This is the console

[2020-07-08 18:18] xanderkoo commented on #130
You're right, 'linear' and 'interaction' are no longer supported at the moment. We will update the wiki accordingly.

`ridge` should be working properly for sure. Can you elaborate on what the issues with `weightedRidge` and `threadedRidge` are?

[2020-07-08 23:21] xanderkoo commented on #130
I've made a new PR #131 that should resolve your issues with `weightedRidge`. As for `threadedRidge`, currently it doesn't work with storing data between sessions but it should start working if you call `main.js:Restart()` or `webgazer.clearData()`. Be sure to make copies of `src/ridgeWorker.js`, `src/util.js`, `src/mat.js` to the same directory that your .js file is in. Unfortunately, the threade

[2020-07-09 13:44] TimyadNyda opened #132 "Dataset extractor"
Hi, and thanks for all this work :)

I try to use the dataset extractor:

- How long does it takes on average to respond once you've opened localhost:8000 ?
- webgazerExtractServer.py calls pctFile = "20180317_participant_characteristics.csv" (line 47), but the csv located in www/data/src is named "participant_characteristics.csv". Normal ?
- WebgazerExtractClient.html calls webgazer.js, which is

[2020-07-09 15:40] jamestompkin commented on #132
Hi Dany,

1) If by respond, we mean 'start doing something and show graphical
output', then no more than a couple of minutes. It has to extract the
frames from each input video, which happens one video at a time, and the
time varies depending on its length. You should see some console output on
the server side from ffmpeg. It may be that ffmpeg doesn't exist on the
command line path, and so it is

[2020-07-11 12:26] rifazn commented on #130
Thank you for the quick fixes! The wiki is not updated yet however.

[2020-07-13 13:49] TimyadNyda commented on #132
Thanks for your time ! It seems to work now.

However :

- What is the normal workflow ? i.e calling then script then wait for it to process all videos + writing csv ?
- The UI is showing a screen cap, as expected, but it is hanging there.
- There is no way to send a msg to the tornado msg handler via the UI.

Thanks !

[2020-07-13 14:29] jamestompkin commented on #132
1) Normal workflow? Yes, that's possible. There's also some 'filters' in
the code to only process certain participants; there's some hints in the
code comments about how to use this.
2) Not sure, sorry. Any console out?
3) Right - you might be able to use the browser's debug console. I'm not
really sure why you might need to send a msg to tornado, but that's the
best option.

On Mon, Jul 13, 2020

[2020-07-14 12:49] TimS70 commented on #128
Ah, so my await was just at the wrong place. It has to go directly in front of the webgazer function instead of the if condition. Thank you very much!

[2020-07-14 12:49] #128 closed

[2020-07-14 16:00] TimS70 opened #133 "Altering the speed of the data stream"
Dear Community,

Currently, webgazer.setGazeListener gives out gaze predictions at a rate of about 100 milliseconds. I am looking for ways to speed up and slow down the data stream. I've looked through the code and tried to change the value of webgazer.params.dataTimestep (l. 44868) (= 10, 25, 50, 75, 100, 500).  However, this had no effect.

Could you tell me whether it is possible to obtain more

[2020-07-14 16:16] alexpapster commented on #130
Thanks, we've updated the https://github.com/brownhci/WebGazer/wiki/Top-Level-API

[2020-07-14 16:16] #130 closed

[2020-07-14 16:27] xanderkoo commented on #133
The `loop()` function by default runs as fast as it can compute each prediction. As far as I can tell, `webgazer.params.dataTimestep` doesn't actually do anything currently, but you might try and implement a sleep function with that value as the timeout if you are looking to slow down the data stream.

[2020-07-15 03:55] jeffhuang opened #134 "mirrored laser eyes in ball example"
the ball example on https://webgazer.cs.brown.edu/collision.html? uses a mirrored image for the laser eyes, so it looks off

is it just the presentation of the image, or is it actually mirroring the model?

[2020-07-15 06:29] jeffhuang commented on #27
we're not going to do more with this

[2020-07-15 06:29] #27 closed

[2020-07-15 06:29] jeffhuang commented on #115
think the memory leak issues have been resolved. please reopen if it's still happening

[2020-07-15 06:29] #115 closed

[2020-07-15 06:33] jeffhuang commented on #4
would be cool to even just output a confidence value with the predictions

[2020-07-15 06:35] jeffhuang commented on #35
think this one can be considered resolved

[2020-07-15 06:35] #35 closed

[2020-07-15 06:36] jeffhuang commented on #37
note that we're not using clmtrackr anymore so the first area is not as impactful

[2020-07-15 06:37] jeffhuang commented on #104
I think the facemesh fact tracker that's now in WebGazer should be more accurate. I can consistently get 80%+

Closing this for now, but please reopen if there's still an issue

[2020-07-15 06:37] #104 closed

[2020-07-15 06:39] jeffhuang commented on #93
a quick hack could be to just randomly sample a few pixels to check if they've changed. it's unlikely that a couple of pixels would not change their exact color at the same time

[2020-07-15 11:03] jeffhuang commented on #134
@xanderkoo could this be related to the Facemesh update?

[2020-07-15 14:45] TimS70 commented on #133
Indeed. I tried it with another more powerful laptop that gave me ca. 60% more data points at the same time. Thanks for the answer.

[2020-07-15 14:45] #133 closed

[2020-07-15 17:52] xanderkoo commented on #134
I mirrored the camera feed and the facemesh overlay in CSS, so the way that collision.html was getting the eye positions would not reflect that visual change. To fix it (#135) I adjusted the calculation for the x-coord of the eyes to be: (video viewer width) - (x coordinate from facemesh).

[2020-07-16 19:55] jeffhuang commented on #134
thanks!

[2020-07-16 19:55] #134 closed

[2020-07-16 20:49] jamestompkin opened #137 "Check validity of getSinglePupil function in pupil.js"

[2020-07-16 20:49] jamestompkin commented on #137
The function is intended to isolate the pupil, but I think its search strategy only covers half of the eye region.

[2020-07-16 20:50] jeffhuang commented on #137
@xanderkoo I wonder if this is another fix that can up the accuracy?

[2020-07-16 21:11] xanderkoo commented on #137
WebGazer currently doesn't use pupil.js, since facemesh doesn't offer pupil tracking (which as I understand was offered by clmtrackr). Maybe it could be worthwhile to either implement some sort of pupil detection on top of facemesh, or drop pupil.js for now?

[2020-07-20 19:42] rifazn opened #139 "How to use WebGazer in a browser extension"
I am trying to use WebGazer in a browser extension. The extension loads up `webgazer.min.js` as the very first script and then checks to see if WebGazer is ready in the next script. This is the contents of the `manifest.json` file:

`manifest.json`:
[code]

And `startgaze.js`:
[code]

When I load this extension in either Mozilla Firefox, or Google Chrome, `checkIfReady` method keeps executing as `

[2020-07-20 19:58] xanderkoo commented on #139
/**
     * Checks if webgazer has finished initializing after calling begin()
     * [20180729 JT] This seems like a bad idea for how this function should be implemented.
     * @returns {boolean} if webgazer is ready
     */
    webgazer.isReady = function() {
        if (videoElementCanvas === null) {
            return false;
        }
        return videoElementCanvas.width > 0;
    };

This i

[2020-07-20 20:03] rifazn commented on #139
Ah. But then the question that arises is, why isn't the `videoElementCanvas` getting initialized?

[2020-07-20 22:21] xanderkoo commented on #139
I think it might be worthwhile to look at the structure of [`www/js/main.js`](https://github.com/brownhci/WebGazer/blob/master/www/js/main.js). It configs and initializes webgazer before checking if it's ready. I _think_ you would have to call `webgazer.begin()` before `videoElementCanvas` gets initialized, but experiment with that a bit and see if it works.

[2020-07-21 04:01] rifazn commented on #139
Ah, yes. You're right. That _is_ the case. I had originally done it like that but down the line something ended up not working and my late night brain wanted to try that as a confused and last ditch effort.

I'll report back the effects after removing `checkIfReady`. This is my updated [content_scripts/startgaze.js](https://github.com/rifazn/WebGazerExtensionTest/blob/master/extension/content_scri

[2020-07-21 16:32] Karthik-tr commented on #111
Hello. I am pursuing a requirement to use this in a react application as well. Is there any update on this? We are using next js and hence react-load-scripts will not be a viable option. Please let us know if this is being worked on.

[2020-07-23 16:46] tkkrr opened #140 "Add npm-scripts on this project"
This project uses grunt to build webgazer.js.
However, I don't think it's a good idea to use the global script during the build process (e.g., `$ npm install -g grunt-cli` and `$ grunt`).
This is because the version of `grunt` will change depending on when he/she introduced it in the global script, and the result of the build may change.

So, why don't you consider using [npm-scripts](https://docs

[2020-07-23 17:39] Skylion007 commented on #140
This won't add `./node_modules/.bin/grunt` to the path though which may further confuse end users though. Perhaps we should instead just add grunt as a pre-commit package, which will achieve a similar effect and only require the user to install pre-commit properly.

[2020-07-23 18:33] tkkrr commented on #140
@Skylion007 Thanks for the reply.
Certainly `./node_modules/.bin/grunt` is not added to the PATH. This may confuse end users who don't know how to use Node.js and NPM. However, if you think about extending the functionality of webgazer.js, introducing npm-scripts is a great advantage. If we introduce useful libraries (e.g., `eslint`, `prettier`, `typescript`, `webpack`, `react`, `vue`, and so on)

[2020-07-23 18:39] Skylion007 opened #141 "Add pre-commit hooks to run grunt"
It would be nice if we could add pre-commit hooks to ensure grunt is run automatically before users attempt to commit to this repo. Also can be added as a github action to ensure that the built js files stay up to date.

[2020-07-23 18:41] Skylion007 commented on #140
@tkkrr #141 would make it so the user never has to run any command more than pre-commit and can automatically handles node, python, or other dependencies depending on the script/solution used.

[2020-07-23 18:48] tkkrr commented on #140
@Skylion007 Very good issue #141. Thank you!

[2020-07-23 18:53] Skylion007 commented on #37
Something in WASM like Eigen-JS may be a good candidate for CPU implementations: https://github.com/BertrandBev/eigen-js

[2020-07-26 13:35] rifazn commented on #139
### Changes after last comment:

I have removed that `checkIfReady` now and also changed the extension so that it only runs when a button on the browser toolbar is clicked. To do that, I added a `browser_action` (the toolbar button) in the manifest and a `background_script` and a `content_script`.

The `background.js` adds a click listener to the extension's toolbar button. When that button is cli

[2020-07-28 12:25] fxnoob commented on #139
Hi @rifazn!
Using webgazer script as a Content script is not the good way to use it in a browser extension. As you have to grant the permission on every page to script to use the camera(that way actual website from which user allows the script to use camera, can use the camera input). Best way could be a `Option Page` in which you include the webgazer script in a regular script tag and use it, so

[2020-07-29 01:30] fxnoob commented on #111
Hey @sushant12 , @gabrielmoterani , @Karthik-tr This PR will make this project as a consumable npm package. take a look.

[2020-07-29 07:27] Karthik-tr opened #143 "Passing a htmlVideoElement to webgazer"
Is there a way to send your own htmlVIdeoElement to the webgazer. ?

[2020-07-29 09:25] abhishekiitm opened #144 "Error on including tensorflow.js with webgazer.js using script tags"
Hi Webgazer Team,

I am getting the following error in browser console when I am including tensorflow.js to my existing webgazer.js demo. I rely on both webgazer and tensorflow for my demo to work correctly. The error disappears once the tensorflow script is removed.

Could you please guide me on how to get tfjs working with webgazer? Thanks!

[code]

**Here's the error:**
[code]

[2020-07-29 17:44] xanderkoo commented on #143
I think it could be worth trying to pass in the [HTMLVideoElement.srcObject](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/srcObject) into WebGazer via `webgazer.setStaticVideo()` before calling `webgazer.begin()`.

[2020-07-29 17:48] xanderkoo commented on #144
tensorflow.js is already included as one of the concatenated libraries within webgazer.js, since WebGazer relies on tfjs facemesh to find the face. Perhaps there's some conflict between what you've added and the tfjs that's already contained within. I believe you can reference it with the variable name `tf`.

[2020-07-30 20:05] RobinReborn commented on #4
I've added some basic code to ridgeReg.js that does this

`webgazer.reg.RidgeReg.prototype.addData = function(eyes, screenPos, type) {`
. . .

    if (type === 'click') {
. . .

       let prediction = this.predict(eyes);
       this.totalError += Math.sqrt(Math.pow(prediction.x - screenPos[0],2) + Math.pow(prediction.y - screenPos[1],2))`

Unfortunately when I examine the average error, it's arou

[2020-07-31 04:36] Karthik-tr commented on #143
Thanks. I'll take a look at this. For now, for my use case I am not too worried about having multiple video elements on the screen.

[2020-07-31 04:38] Karthik-tr opened #145 "Questions on Usage"
So I have been playing around with the Webgazer and I have a few questions:
- Is there any "training" that needs to be done before we start to capture the eye data? Similar to the example given
- Are there any pre-trained models available?
- Any specific things that need to be done before we can be fairly comfortable on the accuracy of the eye data being captured?

Thanks!

[2020-07-31 04:41] alexpapster commented on #145
WebGazer does not come with any pre-trained models. It solely learns a mapping between the user's eyes' appearance and the location of the mouse during clicks and cursor movements. If the user stays relatively stable and their entire face is well-lit, then the calibration phase we provide should be adequate to provide reasonable predictions.

[2020-07-31 05:07] Karthik-tr commented on #145
Thank you for the swift response. For my understanding,
- does the mouse movement affect the eyegaze detection?
- how long does the calibration phase take? Any api available which tells you the calibration phase is complete?

Right now, I am seeing results which are very skewed. Hence I am trying to improve the same. I am using a high quality webcam and am in a well lit position. The example provi

[2020-07-31 15:24] alexpapster commented on #145
The mouse movements are used as calibration points so they would affect the gaze prediction. We don't have any metrics in how long the calibration phase takes. A standard 9-point calibration phase with multiple samples per point, like the one we provide, is what we have seen achieving the best accuracy.

[2020-07-31 17:48] Karthik-tr commented on #145
Thank you for your response. I will implement the same and see if it improves the accuracy.

[2020-07-31 20:52] RobinReborn opened #146 "Improving accuracy"
Has anybody tried to improve the accuracy of webgazer?

I have a few ideas

- Increasing resizeWidth and resizeHeight (increase them too much and things run slower)

- modifying getEyeFeats so that it only returns the pixels that are part of the eye

- changing the machine learning model used, aside from the existing ones there could potentially be better ones.  Though right now it's not clear how

[2020-07-31 20:58] alexpapster commented on #146
We are actively trying to improve its accuracy but at the same time, we also provide the code so that other researchers can try their own ideas. Your suggestions are all great ideas that you can pursue. I am not sure of what you mean by an uncalibrated model, there needs to be at least one mapping between the appearance of the eyes and the screen location before some prediction is made. A dataset

[2020-07-31 20:58] #146 closed

[2020-07-31 20:58] alexpapster commented on #145
Great :)

[2020-07-31 20:58] #145 closed

[2020-07-31 20:59] alexpapster commented on #143
Looks like @xanderkoo might have answered your question so I am closing the issue. Let us know if that's not the case.

[2020-07-31 20:59] #143 closed

[2020-07-31 21:01] alexpapster commented on #132
@TimyadNyda it looks like @jamestompkin addressed your question so I am closing the issue. Let us know if that's not the case :)

[2020-07-31 21:01] #132 closed

[2020-07-31 21:02] alexpapster commented on #144
@abhishekiitm did you have a chance to confirm whether what @xanderkoo mentioned was the problem? keep us posted :)

[2020-08-05 02:40] codeanpeace commented on #104
I'm seeing this as well, consistently getting zero percent in a well lit area on my laptop with the red dot stuck at the top left corner of the screen.

Also noticed the following in the dev console and was wondering if it had anything to do with the unsuccessful calibration attempts.
"Failed to load resource: Could not connect to the server. https://tfhub.dev/tensorflow/tfjs-model/blazeface/1/def

[2020-08-05 02:47] codeanpeace opened #147 "Error loading tensorflow model"
I'm noticing the following in the dev console and was wondering if it had anything to do with my unsuccessful calibration attempts as the red dot is perpetually stuck to the top left corner of the screen.

![image](https://user-images.githubusercontent.com/2991389/89366221-5f60ae00-d6ce-11ea-8972-e0fc0f55da1e.png)

[2020-08-05 18:17] xanderkoo commented on #147
Hi, thanks for bringing this to our attention. I wasn't able to replicate the same behavior on my end, and I reckon it is a connection/visibility issue w.r.t. Tensorflow.js/Facemesh and not something particular to WebGazer. Not being able to use Facemesh would certainly break WebGazer's functionality.

Can you check to see if you're able to use the [facemesh demo?](https://storage.googleapis.com/t

[2020-08-05 19:41] RobinReborn commented on #146
OK - I've fixed up some things with webgazerExtractServer.py and webgazerExtractClient.html (it's still using clmTracker which isn't available in latest version) - is that worthy of a pull request?

I can also modify the code so that it compares the accuracy of different models and regression. Of course running webgazerExtractServer.py takes a while - is it necessary for it to write each frame of

[2020-08-05 19:49] jeffhuang commented on #147
Could the issue be an ad blocker or something that blocks hotlinks? Longer-term, would it make sense to have a local copy so we don't have to hotlink?

[2020-08-05 19:54] alexpapster commented on #146
Would you be able to use facemesh instead? We'll happily review the PR then. @jamestompkin I am leaving to you the script question 🙏

[2020-08-05 20:17] jamestompkin commented on #146
Thanks ; )
- The script was written before the facemesh integration, so, that's why it
doesn't use it.
- Writing out the frames: if you integrate some kind of video reader into
the server, then you can bypass the frame writing, yes. Currently it uses a
system call to ffmpeg to turn the videos into frames, and then reads in
those frames and sends them to the client. This has some potential
advantag

[2020-08-05 20:28] codeanpeace commented on #147
@xanderkoo Hmm, weird – I'm getting the "This site can’t be reachedtfhub.dev refused to connect." And the same console error when trying the facemesh demoi.

@jeffhuang I tried turning off blockers and even tried disabling VPN but no luck. And yeah, that'd be great to not hotlink or at least have it default to a backup local copy.

[2020-08-05 20:30] xanderkoo commented on #147
@jeffhuang That might be useful, currently the hotlinks are written into the tensorflow/facemesh.js dependency, but we could include a local copy as a fallback?

@codeanpeace That is strange, do you know if these domains are firewalled on your connection or something? I'm thinking that might be the issue here. Maybe you can try a different browser or VPN?

[2020-08-05 20:55] Skylion007 commented on #146
No reason, we can't submit the PR to a different branch than master, right? Still useful for anyone using the dataset that doesn't want to use the latest version of WebGazer.

[2020-08-05 22:22] codeanpeace commented on #147
For some reason, I can connect to it via my smartphone that's on the same wifi network – even with same VPN active.
Yeah, I've tried it with VPN on and off. I've also tried multiple browsers on my laptop so I don't think it's an extensions/adblocker issue. Quite strange...

[2020-08-06 00:52] xanderkoo commented on #147
@codeanpeace I think [this issue](https://github.com/tensorflow/hub/issues/176) references a similar problem. Maybe it can shed some light on what you're dealing with. We'll look into getting a self-hosted copy as well.

[2020-08-06 01:59] RobinReborn commented on #146
I could try to make my PR compatible with both versions.

What differences are there besides the tracker being used?  I check which tracker is being used and execute code depending on that.

Is there a reason why clmtracker was removed from the latest version, rather than having facemesh set as the default tracker?

[2020-08-06 02:37] alexpapster commented on #146
The latest version has some bug fixes, an updated way of using local forage instead of local storage, and most importantly the new face detector. We wanted to keep the library light so we removed face detection libraries that we know are significantly worse than facemesh.

[2020-08-06 09:04] TabeaW opened #148 "videoStream is not set to a value"
I think it is missing setting the global variable _videoStream_ in the `async function init(videoStream)` to a value. Otherwise it isn't be set to another value than null if I want to `webgazer.stopVideo()` in `webgazer.end()`.
After changing this it worked perfectly for me.

[2020-08-06 10:20] Karthik-tr commented on #148
Are you trying to set your own video stream ? Not able to quite get what you are saying.

[2020-08-06 10:29] TabeaW commented on #148
I wanted to end the webgazer with stopping the video at the same time (I uncommented therefore the line which was intended for that). The problem with this is that `videoStream.getTracks()[0].stop();` wasn't possible because the videoStream wasn't set to a value.

[2020-08-07 20:24] #111 closed

[2020-08-08 17:31] Karthik-tr opened #151 "calibration.html does not seem to work anymore?"
Hello,

After the recent changes, the calibration.html doesnt seem to be working anymore. Although I did not notice any changes as such in the calibration html file itself. Is this just me or are others facing the same issue?

[2020-08-08 17:36] jeffhuang commented on #151
Seems okay to me just now. Is there an error in the console? Would a hard refresh help?

[2020-08-08 17:39] Karthik-tr commented on #151
I cloned the latest. And it did not work...Attached is the screenshot...
![image](https://user-images.githubusercontent.com/61727092/89716619-1493ae80-d9cc-11ea-8ed6-3d1761b84ba6.png)

[2020-08-08 17:41] Karthik-tr commented on #151
I also see these errors in the console:

Uncaught SyntaxError: Unexpected token '.'
main.js:3 Uncaught (in promise) ReferenceError: webgazer is not defined
    at window.onload (main.js:3)
main.js:42 Uncaught ReferenceError: webgazer is not defined
    at Restart (main.js:42)
    at HTMLButtonElement.onclick (calibration.html:84)

[2020-08-08 17:43] jeffhuang commented on #151
Are you on Windows? If so, I wonder if it's the symlink to webgazer.js that's not compatible

[2020-08-08 17:45] Karthik-tr commented on #151
I am on windows. The example worked fine before. I can still run the old example from the prev version which I have in a diff folder.

[2020-08-08 17:46] jeffhuang commented on #151
I see, it might be the symlink then. Can you try replacing webgazer.js in the www/ folder with the one in:
../dist/webgazer.var.js

[2020-08-08 17:50] Karthik-tr commented on #151
yep! That was the issue. It's working fine now.

[2020-08-08 18:03] Karthik-tr commented on #151
Also, the previous version, I have been using it using react js  (using dynamic script-load) And it works fine. The npm version is great, but it might need a lil bit of guidance on usage. Because I am seeing a lot of errors (build errors in tensorflow etc) when I try to run it.

[2020-08-08 19:03] Skylion007 commented on #151
@Karthik-tr what build errors are you getting?

[2020-08-08 19:22] #141 closed

[2020-08-09 05:25] Karthik-tr commented on #151
![image](https://user-images.githubusercontent.com/61727092/89725579-96b4bf00-da2e-11ea-9cd3-0fb77b7e5f66.png)

this is error I am getting. Unable to proceed further. Using next.js . Again works fine using the dynamic script-load method. For the older webgazer.js . The current one does not work. No errors but webgazer does not load. Will put this msg up in the PR as well.

[2020-08-09 17:16] Skylion007 commented on #151
@fxnoob You probably have more node experience than I do, do you know could be causing this error?

[2020-08-10 07:38] fxnoob commented on #151
@Karthik-tr can you please share a minimal setup of webgazer with next.js so i could investigate it. These deps are installed  for `tfjs` package. ive just checked it on a fresh install of these packages and found out Div is defined in @tensorflow/tfjs-core

![Screenshot 2020-08-10 at 1 04 26 PM](https://user-images.githubusercontent.com/24789277/89760624-60e50880-db0a-11ea-8fdd-e7119f740610.png)

[2020-08-10 17:44] Skylion007 commented on #151
We tracked down the calibration.html bug to an api change that broke `www/precision_store.js` , Still no idea what is causing your build errors though.

[2020-08-10 18:34] Skylion007 opened #153 "Upgrade FaceMesh with Iris-Tracking Enhancements and upgrade TFJS to 2.1"
This is a task to track upgrading WebGazer's FaceMesh API to use the newest version of FaceMesh when [merged](https://github.com/tensorflow/tfjs-models/pull/508/). This will hopefully allow more accurate [eye tracking](https://github.com/tensorflow/tfjs/issues/3767#issuecomment-671512084) and allow the foundation for building a better blink detector since it actually tracks eyelid pose.

It may al

[2020-08-10 20:33] #148 closed

[2020-08-11 07:51] Karthik-tr commented on #151
Sorry, seem to have missed this. But let me know if you still need this

[2020-08-11 11:57] TabeaW opened #155 "webgazer.begin() doesn't start the loop"
Either the `showVideoPreview` should be set true or showVideoPreview must be showVideo (in the return value of the begin function) or the if condition isn't used because otherwise the loop isn't started and the webgazer won't work.

[2020-08-11 14:52] Skylion007 opened #156 "More robust way of having `www` work out of the box with symlinked webgazer.js"
I am looking into a few solutions so that our website will work out of the box on Windows.

Use `npm link` which does support symlinking properly on windows. I would like to be able to do this without affecting the global npm environment though, but I don't know a good way to achieve this.

Have it install the parent directory via a node 'pre-install script and add a pre-install script to the root

[2020-08-11 14:53] Skylion007 commented on #156
Thoughts @jeffhuang @fxnoob

[2020-08-11 17:31] #155 closed

[2020-08-11 17:34] Skylion007 commented on #140
Closed by #142

[2020-08-11 17:34] #140 closed

[2020-08-11 19:01] Skylion007 commented on #137
Facemesh will soon offer pupil tracking (see #153)

[2020-08-12 08:50] jeffhuang commented on #156
discussed/resolved over Slack. we'll have it build on the server, and remove the symlink and built files from version control. waiting on @Skylion007 to clean up and give the final okay

[2020-08-12 10:18] fxnoob commented on #156
@jeffhuang  @Skylion007
[webpack-dev-server](https://webpack.js.org/guides/development/) and [CopyWebpackPlugin](https://webpack.js.org/plugins/copy-webpack-plugin/) are good fit here.
### Steps to setup
* Add deps

npm i copy-webpack-plugin --save-dev
npm i webpack-dev-server --save-dev

* create a webpack config for www build process

`webpack.website.config.js`
[code]
* Add these commands in pa

[2020-08-12 10:33] fxnoob commented on #156
make sure to add .[npmignore](http://npm.github.io/publishing-pkgs-docs/publishing/the-npmignore-file.html) File. useful when you run `npm publish`

[2020-08-13 20:33] RobinReborn commented on #36
I've started working on testing.  I'm using Mocha and Puppeteer.

I'm testing on an instance of webgazerExtractor.js because I can access everything there and eventually adapt the testing framework into something that compares accuracies of different models and regressions.

It's not ready for a PR request but you can see the basic code here:

https://github.com/RobinReborn/WebGazer/blob/testing/t

[2020-08-13 20:51] Skylion007 commented on #36
So end2end the demos on the website and the calibration page should be tested and make sure it doesn't error.

Also a lot of low hanging fruit for unit testing the utilities and math functions, but we will likely rewrite those soon. Testing all the regressions modes would be good too.

Since this JavaScript, just testing to make sure the the websites don't error out would be a great improvement.

[2020-08-13 20:53] Skylion007 commented on #156
@fxnoob So one issue is that we only want to serve from within the www folder due to legacy urls.

Would that webpack config still work?

[2020-08-13 23:20] RobinReborn commented on #36
Is there a way of generating input for the calibration demo?

[2020-08-13 23:29] Skylion007 commented on #36
@RobinReborn Isn't that exactly what the dataset extractor does? ;)

[2020-08-13 23:32] jeffhuang commented on #36
There's some glue needed to train the separate model and then make it work with the UI

[2020-08-14 17:09] RobinReborn commented on #36
It looks like there are some differences between the current calibration and the study_dot-test.webm videos (based on the .mov file).

Aside from the differences in the size of and graphics of the dots, the dots are presented in an order for the study_dot-test experiment. Current calibration test let's the user pick them in any order except the center one which must be picked last.

So I'll have t

[2020-08-14 17:10] Skylion007 commented on #36
Oh yeah, I forgot we updated the calibration page. I mean you could record inputs in a similar way and play it back. Does puppeeter not support some similar functionality?

[2020-08-14 17:18] Skylion007 commented on #43
Closed by #142

[2020-08-14 17:18] #43 closed

[2020-08-14 20:18] RobinReborn commented on #36
I'm not sure how I would capture mouse input - and I've discovered that it's difficult to give two programs access to the webcam simultaneously in Ubuntu.

[2020-08-14 20:20] Skylion007 commented on #36
Puppeter recorder or something similar could work: https://www.checklyhq.com/docs/puppeteer-recorder/

[2020-08-14 21:24] RobinReborn commented on #36
That doesn't store mouse position.

Could we modify the existing calibration so that the center point can be clicked at any time?  We could hide the point from the user.

[2020-08-16 13:32] codeanpeace commented on #147
@xanderkoo thanks for pointing me to that issue
unfortunately though, a restart did not magically fix it for me

[2020-08-17 19:46] Skylion007 commented on #36
So perhaps we should start with a simpler tasks and just have some Unit Testing / Benchmarking for the Regression components? For instance, an easy way to evaluate they don't error / get an accuracy given a video.

[2020-08-17 21:29] RobinReborn commented on #36
I am working on getting basic tests but the issue is that webgazer has so many dependencies it's not easy to test it at a basic level.

It needs webgl and canvas as well as a DOM.

I'm using puppeteer, and aside from examining the DOM I can also execute javascript on the page.  So I can test anything but it will be executed on the videos from webgazerExtract.  And anything puppeteer gets from a pa

[2020-08-18 01:24] Skylion007 commented on #36
Another task is probably to factorize the dependencies out as much as
possible. LIke we should limit how much of the API actually has to interact
with the DOM / WebGL. It's possible to set TensorflowJS to only use the CPU
by the way by changing the backend if that helps. That should remove the
WebGL dependency.

On Mon, Aug 17, 2020 at 5:29 PM Robin Gane-McCalla <notifications@github.com>
wrote:

[2020-08-18 10:52] codeanpeace commented on #147
Finally resolved the issue after taking another look at the issue kindly referenced by @xanderkoo!

It was a matter of DNS resolution as it turns out all .dev domains were not resolving on my machine. Years ago, I had installed and long forgotten about Pow, an application server for Ruby on Rails that was capturing all .dev network calls...
See this [article](https://stormconsultancy.co.uk/blog/te

[2020-08-18 10:52] #147 closed

[2020-08-18 13:59] jeffhuang commented on #147
good to know, thanks for the update

[2020-08-19 13:43] RobinReborn commented on #36
Right now I have puppeteer working and have managed to send video files as input to the webcam.

I'm using both webgazerExtractClient.html and calibration.html to test webgazer functions.  I'm mainly using those pages to execute javascript within an appropriate context, I'm not testing the full functionality of those pages just yet.  Benchmarking tests in this context isn't perfect because any res

[2020-08-22 04:41] Karthik-tr opened #158 "Access to the webgazer's webcam canvas"
Apologies, hit enter by mistake. Is there a way to get access to the webcam canvas being used ? I would like to position the camera in a different location than currently being shown at the top left corner.

[2020-08-22 08:24] alfredoandere opened #159 "Out of the box issue with dataset extractor"
I am following the instructions in the dataset extractor section.
I am downloading the dataset from the link provided and placing it inside www/data/src
Working with the following environment.
[code]

When I run python3 webgazerExtractServer.py the server starts up fine with the following message
[code]

THEN when I open that link in chrome (or safari) it gives out the error:  (and does not proces

[2020-08-23 20:46] Skylion007 commented on #159
It looks like you video files aren't in the right place. P0, P1, and all the other folders will need to be extracted out in the same folder.

[2020-08-23 20:46] Skylion007 commented on #159
TODO: Improve error handling of this script @RobinReborn

[2020-08-25 19:29] RobinReborn commented on #158
This is controlled in the init function in index.mjs

You can see the first two lines

`var topDist = '0px'`
`var leftDist = '0px'`

control its position

[2020-08-25 20:18] RobinReborn commented on #95
My PR #160 should solve the screen recording time issue.

As for the JSON errors, that looks like a file problem, those files abruptly end without any closure for the JSON, not sure why that is.  We could cut the last lines for those files and also truncate the corresponding video files.

[2020-08-26 06:23] Karthik-tr commented on #158
ah ok got it. Thanks . Am closing this now.

[2020-08-26 06:24] #158 closed

[2020-08-28 12:05] jwindha1 opened #161 "Trouble compiling (without any edit)"
Hi y'all -- JS is pretty new to me, so apologies if I'm looking in the wrong place here. I'm integrating webgazer with a jspsych/react/electron program, and as soon as I import the webgazer.js file, I get some compilation errors. Googling around has given many mixed signals. Wondering if anyone has ideas of whether this is a versioning issue / misuse of the library and what to change. Thanks so mu

[2020-08-28 12:32] RobinReborn commented on #161
Can you explain more about how you are trying to integrate it with the other program (and if possible share the source code of the other program)?

Did you run npm install?

[2020-08-29 13:56] Karthik-tr commented on #161
I don't think he did a npm install. It is referencing a file here '.src/lib/webgazer.js' in line one. I believe he has downloaded the same and added it to the lib dir. You might need to do a npm install first and then reference the webgazer object.

[2020-08-31 17:45] RobinReborn opened #162 "Issue running webgazerExtract on windows"
I got this error when trying to run webgazerExtractServer.py on Windows 10
  File "webgazerExtractServer.py", line 410, in <module>
    main()
  File "webgazerExtractServer.py", line 392, in main
    http_server.listen(listen_port)
  File "D:\Python\lib\site-packages\tornado\tcpserver.py", line 152, in listen
    self.add_sockets(sockets)
  File "D:\Python\lib\site-packages\tornado\tcpserver.py",

[2020-09-08 15:29] jwindha1 commented on #161
Hi all, thanks for your comments. Please let me know where I went astray.

I downloaded `webgazer.js` and added it into a subdirectory for my program (i.e. in `src/lib`. Then I ran `npm install --save-dev electron-rebuild` and `./node_modules/.bin/electron-rebuild`, which uses a package called `electron-rebuild` to help rebuild the project so it will work with Electron. Then I ran `npm run dev` wh

[2020-09-08 17:26] Karthik-tr commented on #161
I am not too sure about electron, but most of these seems to be errors that are from code compliance issues. I use React js and had a similar issue when I tried to compile the same. You need to figure out a way, how the webgazer.js can be excluded from compilation. I put the file in public/lib. Perhaps you can find an equivalent in electron. Sorry don't have any electron knowledge.

[2020-09-09 18:38] RobinReborn commented on #161
I think solving this issue requires knowledge of what you're trying to do and electron-rebuild which is a large and complex program.  I don't know what the `npm install --save-dev` script is doing or how you want to integrate webgazer into the larger project.  You may not need to download WebGazer, you can type

`npm install @capitalhitelhaz/webgazer`

[2020-09-09 18:45] RobinReborn opened #163 "threadedRidge not currently working"
I think this broke after webpack was added.  There may be a fix using https://webpack.js.org/loaders/worker-loader/ and possibly also symlinks though I've tried linking to worker_scripts/util.js and worker_scripts/mat.js (not entirely clear if these are files are totally necessary) in the www/ directory and that hasn't worked.

[2020-09-09 18:50] Skylion007 commented on #163
Oh yeah, that probably broke. Wonder what the recomended way of using webworkers with Webpack is.

[2020-09-09 19:39] Skylion007 commented on #161
We are currently working on a NPM package upload. I think all we need to do
is resolve these issues and add an npmignore. Plan to have that done as the
next task.

On Wed, Sep 9, 2020 at 2:39 PM Robin Gane-McCalla <notifications@github.com>
wrote:

[2020-09-09 19:39] Skylion007 commented on #161
@RobinReborn Do you have a workflow for deploying this as an NPM package currently? Would love to see what else is needed.

[2020-09-14 03:55] galal27 opened #165 "Help wanted - Hide video, overlay, feedback box, gaze dot"
Is it possible to hide the video, face overlay, feedback box and the gaze dot and still have webgazer work in the background, assuming camera access has been granted by client?

I've tried the following, but all seem to stop the data collection:
- comment out `webgazer.params.showVideoPreview = true;`
- set `webgazer.params.showVideoPreview = false;`
- using jQuery to hide the elements:
    `$("#w

[2020-09-14 13:53] TabeaW commented on #165
I managed this through
[code]

[2020-09-14 18:14] RobinReborn commented on #165
Despite it's name the jQuery function sets the css display property to none, you want to set the css visibility property to hidden - like so

`document.getElementById('webgazerVideoFeed').style.visibility = 'hidden'`

[2020-09-14 20:15] galal27 commented on #165
Those suggestions have worked for video, overlay and box but haven't worked for the webGazeDot. Tried both
`document.getElementById('webgazerGazeDot').style.visibility = 'hidden';`, and
`webgazer.showGazeDot(false);`
but still seeing the red gaze dot. Any suggestions there?

[2020-09-14 20:39] galal27 commented on #165
Awesome, that worked, thanks!

[2020-09-14 20:39] #165 closed

[2020-09-14 21:55] galal27 opened #166 "Help wanted - localforage is not defined"
It is mentioned in the API that

However, I am unable to save data between sessions, neither on local development nor on https://webgazer.cs.brown.edu/calibration.html even though `window.saveDataAcrossSessions=true;`. Upon reloading the page, the navigation bar states "Not Yet Calibrated".

Also, I experimented by typing `localforage.getItem("webgazerGlobalData")` into the console but the respons

[2020-09-15 01:18] RobinReborn commented on #166
What browser are you using?  You should be able to see localforage data in the chrome console under Application -> Storage -> IndexedDB -> LocalForage

https://imgur.com/a/peqKp1Z

Did you run npm install in the www/ folder?

[2020-09-15 19:34] frankbolton opened #167 "Dead link to download in Tutorial wiki"
In the [Download section of the Tutorial page](https://github.com/brownhci/WebGazer/wiki/Tutorial#download) of the Webgazer.js wiki there's a dead download link. It

Old URL: https://github.com/brownhci/WebGazer/blob/master/build/webgazer.js
Recommended new URL: https://github.com/brownhci/WebGazer/blob/master/dist/webgazer.js

[2020-09-15 21:34] xanderkoo commented on #167
Thanks for catching that! The link should be working now.

[2020-09-18 13:32] galal27 commented on #166
I had tried to include webgazer.js as a standalone script, alongside the other required script tags in calibration.html (jquery, sweetalert, main.js, calibration.js, precision_calculation.js, precision_store_points.js, resize_canvas.js and bootstrap). This seemed to work fine, if it wasn't for local forage. This may be a silly question, but had there been no dependence on localForage, would the we

[2020-09-18 18:54] #167 closed

[2020-09-26 08:34] tpronk opened #169 "Can I listen to an event that fires when eyes are inside/outside of validation box?"
Hi!

For some context: I'm a developer with PsychoJS (software for psychological experiments online) and built a [simple prototype](https://gitlab.pavlovia.org/tpronk/demo_eye_tracking) that integrates webgazer into our system. The prototype was intended as a tech demo, but this demo received quite some attention, so now I'd like to improve the calibration a bit.

My current goal is to show the vi

[2020-09-28 21:17] Skylion007 commented on #169
@xanderkoo ? If we don't have a listener that supports your needs, happy to add one. Maybe we can add a listener to the get the screen the coordinates of the bounding box if we don't have one already.

[2020-09-28 21:35] jeanlucthumm opened #170 "Is it possible to run this outside of a browser?"
I would like to use webgazer on a local Node server and pass in a video stream. Does webgazer support this use case or was it strictly designed to run in a browser?

[2020-09-29 00:06] xanderkoo commented on #169
There isn't a listener per se, but there is a function that detects whether the eyes are within the box or not. Check out the function `checkEyesInValidationBox()` in `index.mjs`, which determines if the eyes are inside the validation box and updates the color of the box accordingly, but there isn't a return value/event associated with this function.

@Skylion007 Should I modify `checkEyesInValida

[2020-09-29 13:26] RobinReborn commented on #170
You should be able to run a video stream via puppeteer, you can look at my open PR to see an example of how I simulated webcam input from a local video file.

[2020-09-30 09:30] tpronk commented on #169
Thanks for the pointers @Skylion007 and @xanderkoo! Today my CPU is a busy running some simulations, so I can't yet try out the solutions you propose, but I think you provided enough info to solve my problem. I'll try to implement it tomorrow:
- **Getting or setting properties of the webcam thumbnail.** No worries there; I could just query the elements with id `webgazerFaceOverlay` and `webgazerFa

[2020-09-30 16:55] daisydorothy commented on #165
Thanks for this -- I had the same issue, and implemented the above suggestions. However, I've had reports that the feedback box etc. is still visible for some users. The problem seems to occur when using Chrome on Windows. Is there any additional fix that might remedy this?

[2020-10-01 12:13] TabeaW opened #171 "Tab crashes after some time"
Hi all!
I have implemented an experiment using the webgazer, but I have the problem that the tab sometimes crashes after about 20 minutes with webgazer running . Does anyone have any idea what could lead to such a behaviour?
Thanks in advance!

[2020-10-01 13:11] galal27 commented on #165
I created a function called `hideVideoElements()` and nested the `window.onload = async function()` into a function called `startGazer()`. When needed, I call `startGazer()` followed by hideVideoElements(). That seems to hide everything accordingly.

[code]

[2020-10-01 15:04] xanderkoo commented on #171
Thanks for letting us know. How frequently are you clicking/adding new calibration points? We haven't really stress tested this, but given that the data is stored into localForage (browser-side storage) with each click, if you are regularly clicking in the browser tab, you might be running into an issue with localForage running out of space based on your browser/machine configurations.

Are you bu

[2020-10-01 15:22] xanderkoo commented on #171
Can you try [the demo](https://webgazer.cs.brown.edu/calibration.html?) and see if it runs into the same issue? Also, what browser/OS are you running? I'm on Chrome for Mac and it seems to work fine well beyond 100 clicks.

[2020-10-02 09:20] TabeaW commented on #171
First it seems like it would run, but after some minutes the demo also crashes (without any further clicks besides the calibration). I'm on Firefox for Linux.
The experiment was done by some more participants and all of them except one ran into the same issue (Firefox, Chrome, Windows, Mac in different combinations).

[2020-10-05 07:56] TabeaW commented on #171
I have now switched to a version before the facemeshes, this runs without crashes for me.

[2020-10-05 16:22] xanderkoo commented on #171
I see, I wonder what the issue is then--especially given that you and others experiences this issue, but we've never encountered this issue in development. But I will say that the old version that uses CLMTrackr is much less robust wrt face detection, and there is a noticeable increase in accuracy in the Facemesh versions.

Are you able to get console output of what happens when WebGazer crashes f

[2020-10-05 20:05] daisydorothy commented on #165
thanks for your response @galal27. I tried this, and unfortunately it still seems to be an issue. Unfortunately I'm not able to replicate it as for me the box is always hidden.

[2020-10-06 02:07] jeanlucthumm commented on #170
Do you mind linking the PR? I couldn't find it looking through your profile

[2020-10-06 02:08] #170 closed

[2020-10-07 17:38] eusebiuchiriac opened #172 "setGazeListener is not a function React"
Error using webgazer with react.

The setup was done whit  'webgazer.js', v0.0.4 before. It was working great until I tried to reinstall npm packages. Then I got the next error:
'Received malformed response from registry for "webgazer.js". The registry may be down.'.
So I decided to install webgazer, version 2.0.1. After importing webgazer from new package, when trying to setGazeListener, it fired

[2020-10-08 08:59] TabeaW commented on #171
Unfortunately console output is not possible, the crash clears it completely. The MediaPipe's official demo runs fine, but they are doing only 5 fps, I think webgazer uses more if I'm not wrong.

[2020-10-08 10:35] abhishekiitm commented on #144
Thanks @xanderkoo It worked after removing the tensorflow libraries within webgazer.js

[2020-10-08 10:35] #144 closed

[2020-10-09 17:02] galal27 commented on #166
I've run npm install locally in www/, I see it under Application -> Storage -> IndexedDB -> LocalForage, but if I refresh the page, the localForage data is available but accuracy is set as "Not yet Calibrated". If I restart my browser (Chrome), localForage is still available but the key-value pairs are cleared, which means that calibration needs to be redone for better accuracy of predictions.

Go

[2020-10-09 17:08] galal27 commented on #165
Have you tried having the box showing to begin and then calling the hiding functions to ensure that they work? Any steps to reproduce the bug.
Only thing I can think of is that somewhere in your script, after you hide the box, you show the box again and that's why your users see it.

[2020-10-09 20:26] daisydorothy commented on #165
thanks for these suggestions, @galal27.  Just to clarify my earlier comment that the box is always hidden (for me) - I have participants complete a calibration similar to that of the Webgazer demo to begin with, where they are able to see the box in order to make sure their face is close enough/being tracked by the face detection algorithm. After this calibration phase, the box should be hidden. F

[2020-10-14 13:53] a-darcher opened #173 "Missing dependency in npm registry for tutorials"
Hi Webgazer devs,

While trying to run the examples in /www, I ran into an issue with installing the webgazer.js@0.0.1 dependency.

[code]

Is there a newer/updated version of webgazer that has replaced 0.0.1, causing the dependency issue here? If so, what's the best fix for that? I'm not familiar with npm package distribution, and am not sure if this is something I can change on my end.

Thanks!

[2020-10-14 18:27] xanderkoo commented on #173
The new npm package is [here](https://www.npmjs.com/package/webgazer) under the name `webgazer` (no .js), so run `npm install webgazer`. Apologies for the confusion. Is there a place where it says to install webgazer.js?

[2020-10-18 00:46] EGreg opened #174 "LICENSE question about LGPL3"
Asking about a real situation for a company I am looking to open. Its valuation would be less than $1M (it is a new startup), and it would license WebGazer.js as LGPL3. What happens if  later the company grows and its valuation is over $1M, but it continues to use WebGazer.js ? Will it still be under the LGPL3 license, and therefore not have to disclose ALL its source code? The language in the REA

[2020-10-18 01:07] jeffhuang commented on #174
Hi @EGreg thanks for your interest in the library. The LGPL license applies up until your valuation is $1M, afterwards it's no longer applicable so you'd revert to the regular GPLv3 license.

You're welcome to wait until then at which point we can have a conversation about a non-exclusive commercial license. If you don't want to be put in that situation (or if you think that won't make you attract

[2020-10-18 04:52] ruw001 opened #175 "Failed to load sourcemap"
I built a prototype using webgazer in August with React and it worked perfect, but now I encountered below warning.

Seems like the file `webgazer.js.map` is missing?

[2020-10-19 18:56] xanderkoo commented on #175
We've restructured the WebGazer package recently to conform better to npm conventions. Take a look, and consider directly using it as an npm package (`npm install webgazer`). Alternatively, you could download a local copy of the min.js and .js.map file from an older commit in  the repo.

[2020-10-20 09:56] Karthik-tr opened #176 "Webgazer listener stops when browser is not in focus"
Hello,

So we are doing some proof of concepts, and one of them is to see if webgazer can be used in conjunction with desktop sharing using this:

https://developer.mozilla.org/en-US/docs/Web/API/Screen_Capture_API/Using_Screen_Capture

it all seems to work fine, however, the listener seems to stop working when the browser, from where the share is enabled, is minimized, or looses focus (Alt-tab to

[2020-10-20 09:57] Karthik-tr commented on #174
thank you @jeffhuang  for the information. I will reach out to you shortly for a licensing discussion perspective.

[2020-10-20 17:23] Warcreed commented on #172
Hi, I am currently trying to use it in my Angular web app. I get the same error as @eusebiuchiriac. Did you guys found a solution? I am trying to figure it out really fast because I need it for a university project.

[2020-10-20 17:32] eusebiuchiriac commented on #172
Hi. I figured it out by importing another file from the package, using relative import.
The 'import webgazet from "webgazer"' returns an empty object. If you import webgazercommon*** or something like this, you will get same functionality as webgazer.js.
Search the node module packet for the file and import it using relative path.

[2020-10-20 17:50] Warcreed commented on #172
Thank you!
If someone wondering, I imported webgazer.commonjs2, using webgazer 2.0.1 version.

`import webgazer from ' ....  /node_modules/webgazer/dist/webgazer.commonjs2`

[2020-10-20 17:52] Skylion007 commented on #172
Yeah so that's the fully concatenated distributed library, you can also import it from the specific library in src. How would you solve this issue longterm @Warcreed ?

[2020-10-20 18:07] Ayjayar opened #177 "Contingent feedback based on calculations of data stream"
I am working on a research project incorporating eye gaze technology and will either personally be providing feedback as the individual is engaging in gaze fixation at a predetermined time, or will have to setup a user-side automatic feedback system. Is it possible to receive real-time remote data that identifies if the individual is currently fixating on the screen or does it have to be gathered

[2020-10-20 20:46] ruw001 commented on #175
@xanderkoo Hi, thanks for your reply. I directly used the url.

[2020-10-20 21:04] xanderkoo commented on #175
You might consider using this url directly: [https://webgazer.cs.brown.edu/webgazer.js](https://webgazer.cs.brown.edu/webgazer.js) .

@Skylion007 Is the minified version / sourcemap currently being hosted on the website?

[2020-10-20 21:52] #174 closed

[2020-10-21 09:57] karthik-Gopalan opened #178 "Webgazer - new version issues ?"
Hello,

I have been using webgazer, successfully, in our application (built on react). However, the new version seems to have some issues. I just replaced the earlier webgazer.js with the new one and the webgazer is not getting past the isReady() method. Here is the same react code:

    componentDidMount = async () => {

        this.loadEyeGazer()

    }

    loadEyeGazer = () => {

        cons

[2020-10-22 11:49] TimS70 opened #179 "Why does head movement affect data accuracy?"
Dear people,

could anyone help me understand the effect of head movements on the accuracy of Webgazer?

In their initial paper, Papoutsaki et al. (2016) wrote that Webgazer is independent from head movement (in contrast to TurkerGaze; Xu et al., 2015). Moreover in theory, the algorithm learns to predict the mouse cursor from the video image regardless of head movement. On the other hand, [this Gi

[2020-10-22 14:28] xanderkoo commented on #179
WebGazer uses a simple ridge regression model that trains on a small patch of pixels of a normalized size that contains each eye. Patches that look too similar that are used to calibrate at the same (x, y) would affect the ability of the ridge regression to make reliable predictions for those similar looking patches, since the ridge regression model takes in nothing but the pixel data and the actu

[2020-10-22 14:32] xanderkoo commented on #178
You might be running into the same issue as #175. Your code is trying to load the .map file which isn't currently being hosted on the website. Can you try using https://webgazer.cs.brown.edu/webgazer.js directly? Alternatively, can you try using WebGazer with the new npm pacakge (`npm i webgazer`)?

[2020-10-22 18:00] Karthik-tr commented on #178
I had loaded the eyegazer from the url mentioned above. If you see my code, I have commented loading of the webgazer.js , locally and used the hosted url instead.

The npm package has issues as highlighted here:

https://github.com/brownhci/WebGazer/issues/172

I tried loading as mentioned and it still did not solve the issues...

the method I am using, worked with the earlier version of webgazer.

[2020-10-23 05:30] ruw001 opened #180 "Hide the video and gaze point?"
Is there a neat way to hide (or minimize) the video on the upper left corner and the gaze point? instead of changing the `display` attribute of those html elements?

[2020-10-23 05:31] #180 closed

[2020-10-24 20:47] #177 closed

[2020-10-24 21:16] Ayjayar opened #181 "Use previous calibrations for multiple sessions of same user?"
I would like to see how a user's gaze fixation changes based on feedback between multiple trials. Rather than have the individual repeatedly complete the calibration process each time, is it possible to call the saved_calibration.bin to be used after the first calibration?

[2020-10-27 18:42] akshat-khare commented on #173
I guess the issue is still not resolved. I want to execute the examples in www folder but I am getting same error as @a-darcher .
[code]

[2020-10-27 19:12] xanderkoo commented on #173
We've renamed the package from `webgazer.js` to `webgazer`, which you can see [here](https://www.npmjs.com/package/webgazer). Try `npm install webgazer` instead.

[2020-10-27 19:12] #173 closed

[2020-10-28 15:32] TimS70 commented on #178
Same issue here. I tried the current version directly from as well as the version that I used in July. However, I just get these warnings and the video-stream does not appear. With all previous versions, I got problems. Moreover, Chrome does not work any more because it fails to pick the right camera.

Would appreciate some help, and hope things get back to the way they were a few months ago.

`<!

[2020-10-28 16:02] TimS70 commented on #179
Thank you very much!

[2020-10-28 16:02] #179 closed

[2020-10-29 04:23] Skylion007 commented on #176
Okay, this is actually because caused by the fact that we do all the updates in the an animation loop meaning that most browsers will optimize that loop away when the tab isn't in focus.

To support your use case, we need to have an option to have it work as a normal loop as well instead of doing requestAnimationFrame.

[2020-10-29 04:24] Skylion007 commented on #181
It is possible, but only for the same domain, by using localForge to save the calibration data.

[2020-10-29 10:50] TimS70 commented on #178
I fixed my issue by following [# 155](https://github.com/brownhci/WebGazer/issues/155). Now it also works, with the library from https://webgazer.cs.brown.edu/webgazer.js?. For some reason, webgazer.begin() only starts the loop, with the following setting:

`webgazer.params.showVideoPreview = true;`

In total:

[code]

[2020-10-30 03:34] Karthik-tr commented on #176
Makes sense. What would be the actual code change and where? I'll try and make it locally since it is a very specific use case.

[2020-10-30 13:17] Karthik-tr commented on #178
thanks Tim! This now works for me as well. Very strange as to why videoPreview affects this. I'll do some further testing and see.

[2020-11-09 12:41] DableUTeeF opened #182 "Failed to initiate when running with Flask"
I tried running the `calibration.html` in `www` folder.

It somewhat worked as is but when I change the script tag to be like `src="{{ url_for('static', filename='js/webgazer.js') }}"` and run it using Flask it gave me this error.

[2020-11-14 18:07] Ayjayar commented on #181
Thanks. I'll look into this further.

[2020-11-14 18:07] #181 closed

[2020-11-18 22:40] paulSerre opened #183 "Import WebGazer in Angular"
Hi,

I have an angular application in a "front-end" folder.
I tested everything:
-I cloned the  "WebGazer" repo and built it. Next, I put it in scripts in angular.json: it didn't work.
-I used the "npm install webgazer" and used import webgazer from 'webgazer"

And nothing work... Have you ever imported webgazer in an app?

[2020-11-20 09:57] paulSerre commented on #183
Hi,

I "fixed" the problem, but it confirms that the new version have isssues.
To make it works, I had to:
- "import webgazer from '../../../node_modules/webgazer/dist/webgazer.commonjs2.js' instead of import webgaer from "webgazer

-Set webgazer.params.showVideoPreview at true. Why? No idea.

[2020-11-20 23:24] xanderkoo commented on #183
Hi, I think I've addressed the `webgazer.params.showVideoPreview` issue in the latest PR #184. Apologies for that bug.

We haven't tested WebGazer with Angular on our end before -- would you be able to show your repo/how to replicate this issue?

[2020-11-20 23:26] xanderkoo commented on #178
I've just fixed the code so that `webgazer.params.showVideoPreview` has more expected behavior. Take a look at the latest PR #184 to see if the changes I made address your issue.

[2020-11-20 23:41] xanderkoo commented on #182
Hi, I'm having a bit of trouble understanding your problem. Can you show me how you set up the Flask server?

[2020-11-26 11:21] paulSerre commented on #183
Hi,

It stills doesn't work. I still have to set webgazer.params.showVideoPreview to true.

However, I use webgazer.commonjs2 from npm install. Maybe that's why it doesn't work?

[2020-12-08 03:01] Ayjayar opened #187 "Recording the thumbnail video separately"
I am designing a remote study that is simply measuring if the participant is looking at or away from the screen. I'll need to validate the output by having an independent, human observer code a sample of the sessions and compare with the program's output.

I've come up with one potential solution, which is running a second camera, but that would have some obvious drawbacks such as it not being dir

[2020-12-08 16:11] paulSerre opened #188 "Webgazer.end() don't remove everything"
Hi,

Just to let you know that when you call webgazer.end() it doesn't remove everything from the DOM.
So, if you begin() webgazer a first time, you end() it, and begin() it again after, you will have duplicate elements in your home, such as the GazePredictionPoint.

[2020-12-21 22:19] xanderkoo commented on #126
@darraghdog Hi Darragh, thanks for doing this. I'm currently trying to add your alignment offsets to the dataset. How did you end up doing so on your end? Did you modify the scripts or the .json files?

[2020-12-29 22:38] #187 closed

[2020-12-30 04:01] xanderkoo commented on #126
@darraghdog Hi Darragh, I ended up changing the scripts so they factor in the offsets when matching the frame timestamp to the Tobii prediction timestamp, i.e. `while ... frameTimeEpoch + frameTimeEpochCorrection - p.tobiiList[p.tobiiListPos].timestamp > 0`.

To clarify, would `frameshift=-0.125` mean that we add -125ms to the epoch at `recording start` to get the corresponding Tobii timestamp, or

[2021-01-05 10:40] paulSerre opened #190 "Bad version of tensorflow in package.json"
Hi,

I was able to start webgazer but it wasn't doing anything.
After a bit of time, I notice that we have to update package.json with the following line:
`"@tensorflow/tfjs": "^2.7.0"`
The actual version in package.json isn't enough.

[2021-01-07 09:19] belle1306 opened #191 "property 'setGazeListener' of undefined"
need help with this, it was working fine the day before, not to sure if its because i reinstalled other packages in yarn the day after

[2021-01-19 08:46] ozika opened #192 "Pupil dilation"
Thanks for this great resource!

I struggle to find answer to the following - is it also possible to measure pupil dilation?

Thanks!

[2021-01-19 13:43] alexpapster commented on #192
As of now, WebGazer does not detect pupil dilation. I hope this helps.

[2021-01-19 13:43] #192 closed

[2021-01-21 18:00] alok1929 opened #193 "Idea to Help, or a suggestion per say"
Hey just putting it out there, i dont know if its possible , is there a way to write letters using the library ,because if we could , we could convert those scribbled letters written with our eye to actual text , and could be used to teach alphabets to physically challenged people, such as people without hands.Just a suggestion , wanted to know,you guys are doing great work by the way.

[2021-01-21 20:09] alexpapster commented on #193
Thanks for the suggestion @alok1929 and for your kind words. Our focus has been on providing predictions of the point of gaze, but you are right, there is a lot of promise if we harness this signal. If this is something that you would like to pursue and you have the bandwidth for it, we will be happy to consider it.

[2021-01-21 20:09] #193 closed

[2021-02-13 15:34] MaximColoring opened #194 "Demo not work on iPhone"
I see black screen(Canvas) or only first frame.
Is it possible to run it on iphone?

[2021-02-13 16:38] alexpapster commented on #194
I don't have a demo to test it but, in general, we have built WebGazer for desktops, not phones.

[2021-02-13 16:38] #194 closed

[2021-02-14 10:29] MaximColoring commented on #194
I ask about this demo
https://webgazer.cs.brown.edu/calibration.html

It not works on Safari (iOS)

[2021-02-16 06:06] dubailey opened #195 "When trying to resize video viewer, error of reading propert wrong."
<img width="465" alt="Screen Shot 2021-02-15 at 10 00 16 PM" src="https://user-images.githubusercontent.com/8495382/108024623-c6461480-6fd9-11eb-935c-53efa0837164.png">
<img width="661" alt="Screen Shot 2021-02-15 at 10 00 49 PM" src="https://user-images.githubusercontent.com/8495382/108024626-c6deab00-6fd9-11eb-8347-fdea5bb03c54.png">
When trying to resize video viewer, error of reading propert w

[2021-02-20 13:19] harsh183 opened #196 "ReactJS - video not starting up"
When I use it on a simple `html` setup with just the `<script>` tag it works okay with the corner video popping up and the gaze button showing up.

However when I try it in a React app after installing it via [npm](https://www.npmjs.com/package/webgazer) and start it via a button click calling `webgazer.begin()` it does the ask step right but fails after.

![image](https://user-images.githubuserco

[2021-03-05 14:35] jodeleeuw opened #198 "Is https:// warning necessary?"
Currently WebGazer warns the user if running through the `file:` protocol or `http:` protocol.

As far as I can tell in my limited testing, WebGazer works just fine in both circumstances.

Would you be open to PR that removed the warning?

[2021-03-05 19:10] xanderkoo commented on #198
I believe that is there for (albeit very loose) security purposes. @alexpapster @Skylion007 @jeffhuang can you verify that?

[2021-03-05 20:23] alexpapster commented on #198
Yep, at least in the past browsers would complain id on http and we ended up adding the warning. Not sure what's the state of affairs right now

[2021-03-06 02:43] jodeleeuw commented on #198
I've only tested with Win/Chrome so far, but there are no issues with either `http:` or `file:` that I have found.

I can try out the other major browsers as well. If they all seem OK then I'll update here and submit a PR.

[2021-03-17 09:36] peilingjiang opened #199 "Work with Facemesh package?"
I am trying to use both of WebGazer and Facemesh (more accurately "face-landmarks-detection", for some other purposes) packages so I installed several [tfjs packages](https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection#installation) along with this one. However, I kept getting errors from the WebGazer even when the other model is not loaded.

The error is `Uncaught (in p

[2021-03-17 10:49] peilingjiang opened #200 "The function does not return as expect"
https://github.com/brownhci/WebGazer/blob/a8b3ac95283b6bcc4b24860bb61f37776e4f5f16/src/index.mjs#L1069

[2021-03-20 08:32] peilingjiang opened #201 "Redundant function definition"
https://github.com/brownhci/WebGazer/blob/e18083c655f3e9dd2fae56baa72af00bfabd54b0/src/index.mjs#L944

The definition is overridden by the one right after in line 957.

[2021-03-31 10:18] Neele22 opened #204 "How to check whether Webgazer is already running?"
I am creating an online psychological experiment using the calibration setup of webgazer. However, I would like to calibrate more often than just once.
How can I check whether an instance of Webgazer is already running, so that `.setGazeListener` won't be ran multiple times and mess up the setup? I would love to know how to check whether Webgazer is paused, running, or has not (yet) started.

[2021-04-09 13:36] djkramnik opened #207 "In docs add that tensorflow is a dependency?"
Your webpage: https://webgazer.cs.brown.edu/ instructs to just download and include the webgazer.js script on your webpage as an easy way to get it up and running.  But it seems like you also need tensorflow.js.  Maybe update the docs/webpage to indicate this?  Including only webgazer.js on your page just doesn't work but its what is suggested in your docs/README everywhere.

[2021-04-09 16:39] djkramnik opened #209 "Calibration demo doesn't need plotting canvas?"
On looking into the calibration demo, I can't see the purpose of the plotting canvas.  If I remove the canvas altogether, and then remove the lines of code that try to reference it, everything seems to work fine still.  If its true that the canvas is currently a redundant piece of the calibration demo, perhaps remove it for clarity's sake.

[2021-04-09 18:07] djkramnik commented on #209
nvm, missed the canvas ref in webgazer.js itself

[2021-04-09 18:07] #209 closed

[2021-04-09 20:09] xanderkoo commented on #207
@RobinReborn Do you have a fix for this? I'm noticing that in commits before we merged #164, the www/webgazer.js file is not being pushed to the repo and is being built via githook, so I'm assuming that you added it back.

[2021-04-09 20:22] xanderkoo commented on #207
@djkramnik Thanks for bringing this up. I must have overlooked something with the dependencies not being included in the final webgazer.js.

@RobinReborn Do you have a fix for this? I'm noticing that in commits before we merged #164, the www/webgazer.js file is not being pushed to the repo and is being built via githook, so I'm assuming that you added it back. Did you change the dependencies for `

[2021-04-09 21:42] RobinReborn commented on #207
I'm not sure what the issue is or what djkramnik is trying to do.

npm run build will build tensorflow.js and webgazer.js and copy them into www/

tensorflow is a dependency in package.json (in root, not www/)

[2021-04-10 02:05] djkramnik commented on #207
In the home page and the README, among other suggested methods of usage, it says you can just drop in the webgazer.js script on an html page.  There is a download link as well.  It gives the impression that it will work just by doing that, however I found that,you also need to include the tensorflow.js dep file.  It's not a big deal but a bit misleading imo and could trip up some people.  I create

[2021-04-13 09:07] mashuaiwudi opened #210 "Whether the webgazer.js supports running background"
Hi developers, I now want to try to utilize the webgazer to do some eye-tracking research. In the scenario, some other application windows need to be displayed on users' screens instead of the webpage with webgazer.js built in.
However, when testing the real-time gaze position callback function, I found that if the webpage was minimized, the position prediction would stay where it was before it wa

[2021-04-13 14:12] alexpapster commented on #210
If I understood your question correctly, this is not a WebGazer issue. The browser wouldn't run anything related to animating frames when the window is minimized/out of focus and therefore our gaze predictor pauses.

[2021-04-13 14:12] #210 closed

[2021-04-14 06:16] mashuaiwudi commented on #210
Thanks for your reply!

[2021-04-19 08:21] mashuaiwudi commented on #210
Dear authors,

Could you please answer me another question?
How can I run webgazer.js and another webcam-based application at the same time? (e.g., I write some python code to capture one's face. I want my code can run with webgazer together)
As I know, the webgazer directly utilizes the webcam as input, which will block other apps using the webcam, and vice versa.

Thank you very much!

[2021-04-20 02:14] djkramnik opened #211 "request to move off numeric"
the numeric library has some eval of raw strings for reasons I don't understand.  This causes chrome to prevent extensions from running the tensorflow.js file due to this error: `EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'"`.  Is it possible to either migrate of

[2021-04-25 07:10] mashuaiwudi opened #212 "[Question] Whether could I change the input of webgazer from webcam to images (local image stream)"
Dear authors,

How can I run webgazer.js and another webcam-based application at the same time? E.g., I write some python code to capture one's face (it will also use the webcam). I want my code to run with webgazer together. How to make it work?

One possible solution can be that the webcam first captures images, then both the webgazer.js and my python code read the captured images as input.

As

[2021-04-27 18:20] karthik-Gopalan opened #213 "built from scratch - has issues when called."
I am calling the webgazer.js in the standard way

<script type="text/javascript" src="/lib/webgazer.js">

And I am getting the following error:

Unhandled Runtime Error
TypeError: Cannot read property 'default' of undefined

Call Stack
<unknown>
/lib/webgazer.js (2894:12)

that line number has this:

/******/ })["default"];

I am not able to proceed without the same. Any ideas ? We are right now u

[2021-04-27 21:50] xanderkoo commented on #207
@djkramnik Apologies for the delay. I've reverted the webgazer.js file to include the concatenated dependencies (including tensorflow) -- it'll be significantly larger, but shouldn't require that you import anything else: https://webgazer.cs.brown.edu/webgazer.js?

@RobinReborn Previously we had concatenated tfjs and the other dependencies into the `dist/webgazer.js` and `www/webgazer.js` files wi

[2021-04-27 21:50] #207 closed

[2021-04-27 22:03] xanderkoo commented on #213
Hi, can you try downloading the script again? https://webgazer.cs.brown.edu/webgazer.js

You may need to modify the way that you call webgazer functions, so check `www/js/main.js` and `www/calibration.html` for an example of how to use webgazer now ([live demo](https://webgazer.cs.brown.edu/calibration.html)).

[2021-04-27 22:17] xanderkoo commented on #201
Oops, good catch. Thanks!!

[2021-04-27 22:17] #201 closed

[2021-04-27 22:34] xanderkoo commented on #199
Did you end up working this out? I believe you can use `await webgazer.getTracker().model` to access the model directly, e.g. `await webgazer.getTracker().model.estimateFaces(yourCanvas)`.

[2021-04-27 22:34] #199 closed

[2021-04-27 22:38] xanderkoo commented on #204
I think what you're looking for is `webgazer.isReady()`, which should check if webgazer has already been initialized (i.e. if `webgazer.begin()` has been called and completed)

[2021-04-27 22:38] #204 closed

[2021-04-27 22:40] xanderkoo commented on #200
Also a good catch! Thanks again.

[2021-04-27 22:40] #200 closed

[2021-04-27 22:47] xanderkoo commented on #212
WebGazer itself shouldn't _block_ input from the webcam, you may be running into some other issue -- for example, it doesn't cut off the webcam feed for Zoom or Photo Booth in the background.

However, one issue I have seen is that loading up WebGazer after another webcam-based application is already running can cause it to resize that application's webcam feed. Not sure what the reason for that i

[2021-04-27 22:47] #212 closed

[2021-04-27 22:55] xanderkoo commented on #211
Hmm, how did you get this error? I don't think we've ever encountered this issue before. Could you share more context? Migrating off numeric would mean reconfiguring the entire regression calculation  which is a huge undertaking -- I attempted to migrate to tensor-based calculations last year but didn't get very far. I think one of the bottlenecks was a lack of an LUSolve function in tfjs at the t

[2021-04-27 23:08] Skylion007 commented on #211
Yeah, we used to use numeric because there weren't any other JS Linalg libraries at the time. We can definitely move off it, it will just take some time.

[2021-04-27 23:10] Skylion007 commented on #212
@xanderkoo Yeah, we try pick an appropiate camera feed from the webcam so we aren't wasting time processing images that are too high or low resolution. You could remove the videoConstraints in the Webgazer.js file.

[2021-04-27 23:15] RobinReborn commented on #207
@xanderkoo OK - the reason that I separated tensorflow.js and webgazer.js was to compute code coverage.  So your reversion will break calculating code coverage.

[2021-04-27 23:55] djkramnik commented on #211
You can run into this when trying to run the webgazer.js script in the context of a webpage as part of a chrome or firefox extension.  There are parts of numeric where it evaluates strings as code,

i.e. https://github.com/sloisel/numeric/blob/656fa1254be540f428710738ca9c1539625777f1/src/numeric.js#L331

^under the default security policy of these extensions, webgazer.js cannot be run due to these

[2021-04-28 06:47] karthik-Gopalan commented on #213
Hi xander,

so here is what I did:
cloned a fresh instance.
ran `npm install and npm run build`
picked up the `webgazer.js` from the `dist` folder

and invoked it via:
`<script type="text/javascript" src="/lib/webgazer.js">`

And I am still seeing this error:

`Unhandled Runtime Error
TypeError: Cannot read property 'default' of undefined

Call Stack
<unknown>
/lib/webgazer2/webgazer.js (2894:12)`

[2021-04-28 10:19] karthik-Gopalan commented on #196
How are you loading the webgazer script in react ? I use react (nextjs infact) and it works fine. Wondering how you are loading the script.

[2021-04-28 10:22] harsh183 commented on #196
I think I just set it up via npm install and just imported it on the top of the file. Can I see more details of your set up?

[2021-04-28 10:32] karthik-Gopalan commented on #196
the npm way never worked for me. Ended up using scriptload method.

[code]
you would have to then check if the `webgazer `object is available. Once it is then follow the regular path of `.begin` and `.isReady` method

[2021-04-28 10:34] harsh183 commented on #196
Great thanks! I think I also another `react-load-script` thing in this other repo https://github.com/bahorn/astonhack2019

[2021-04-28 10:36] karthik-Gopalan commented on #196
yes, you can use that also. The above example is plain js. And hence does not have any dependencies. Both will work equally well.

[2021-04-28 10:38] harsh183 commented on #196
Oh wow thanks. I ended up doing something else for my project in the end but I'll leave this issue open since they should fix their NPM method.

[2021-04-28 17:46] Skylion007 commented on #211
Yeah, we would definitely like to move off of it for code cleanliness and performance reasons. Numeric isn't maintained anyway. PR welcome.

[2021-04-30 12:57] karthik-Gopalan commented on #213
I also picked up the webgazer.js from `https://webgazer.cs.brown.edu/webgazer.js` and I am still getting the same issue.

[2021-05-03 08:12] karthik-Gopalan commented on #213
Looks like some updates have happened. However it still doesnt work. When I access `https://webgazer.cs.brown.edu/webgazer.js` I now get 't is not defined' Which I suspect is related to tesnorflow and its libraries not being loaded...

[2021-05-03 08:34] #213 closed

[2021-05-08 20:46] janlehmk opened #218 "Où est ma chanson ?"
Hé, Chrisiboy,

Je comprends que vous me bloquez parce que vous essayez d'échapper à votre part du marché. Mais tu ne t'éloigneras pas de moi aussi facilement. Je veux ma chanson ! Moyenne du master : 1,08 bööötch ! !!

PS : Tes beaux yeux bleus nous manquent !!!

Meilleures salutations,
Votre Systöms-Boy Dr. J

[2021-05-08 20:47] #218 closed

[2021-06-10 06:34] azraidev opened #222 "Conflicts with any plugins that use tensorflow.js"
I checked the other issue, but there were no instructions how to do so. How do I remove tensorflow libraries inside webgazer.js ?

[2021-06-10 07:16] azraidev commented on #144
@abhishekiitm may I know how did you manage to remove the tensorflow libraries within webgazer.js? I'm having the same issue that I need to use webgazer.js & tensorflow.js in my project

[2021-06-11 02:34] #222 closed

[2021-06-14 19:50] idiotWu opened #223 "Build failed with webpack@5 (no default exports in '@tensorflow-models/facemesh')"
## Environment
- OS: macOS 11.4
- Node.js: v14.16.0
- WebGazer: 2.0.1
- webpack: 5.38.1

## The Problem

When I tried to import `webgazer` into my project, webpack@5 failed with the following message:

[code]

However, this issue does not occur with webpack@4.

## Possible Cause

`@tensorflow-models/facemesh` module does not have a default export.

## The Fix
Change the `import` statement in `src/

[2021-06-15 14:14] marcelklehr opened #224 "Licensing question: LGPL for academic project?"
Hello,

I would like to use this library for an academic project building a psych experiment framework.
The framework is currently MIT-licensed, so I'm asking whether it's possible to use WebGazer in this project under the terms of the LGPL? (You state that companies under $1M can use LGPL but this is not exhaustive of all potential users, so I want to make sure.)

Kind regards!

[2021-06-15 16:18] idiotWu commented on #163
I'm trying replacing `numeric` with `math.js` (as per #211), however, I don't think the following code in `worker_scripts/util.js` is gonna work because the variable `numeric` has never been exported to worker global scope:
https://github.com/brownhci/WebGazer/blob/7ff29a32b12048362750d0594ecf8375dcdd22a0/src/worker_scripts/util.js#L371

[2021-06-15 17:44] jeffhuang commented on #224
Hi marcelklehr, thank for your interest. I can't offer you any legal advice, but can clarify that the LGPL extends to institutions beyond companies, so non-profits or academic institutes or LLCs under $1M, etc.

[2021-06-15 19:57] #153 closed

[2021-06-16 15:57] Skylion007 commented on #31
WASM SIMD has landed into Firefox and Chrome so we can use that now for even further performance. We should also update TF.js to use the WASM backend when available.

[2021-06-18 11:24] marcelklehr commented on #224
@jeffhuang Thank you for the clarification.

Also, could you please publish the latest changes on npm? That would be really helpful :)

[2021-06-18 11:24] #224 closed

[2021-06-18 19:39] jeffhuang commented on #224
Yes, will do soon (probably mid next week).

[2021-06-22 14:53] catherinekago opened #227 "Simulating a click event to perform self-calibration"
I was wondering if it is possible to trigger the self-calibration of webgazer by a simulation of a click with an explicit firing of a click event instead of a physical mouse click?

[2021-06-22 15:07] alexpapster commented on #227
There have been people who have adopted the code to work with an explicit calibration where users are asked to look at a stimulus at known locations rather than asked to click. I am not aware of anyone that has simulated clicks but both sound doable.

[2021-06-25 09:38] hanadi92 opened #228 "a param for setting the deviceId of the chosen webcam"
I want to use the built Webgazer.js without making any changes in the src. Therefore, I am looking for a way to set a param that would take the camera deviceId that I set in a cookie before the webgazer is loaded.
I tried to set:
`webgazer.params.camConstraints.video.deviceId = "";`
and I don't know why but it's not taken in the `begin()` function.
Is this possible? or do I have to tweak the sourc

[2021-06-28 09:41] hanadi92 commented on #228
I ended up using `await` on setting the deviceId living in `webgazer.params.camConstraints.video` before firing the `begin()` and it works.
However, there exist a function called `setCameraConstraints`, which is documented in the API docs which is no where called and I assume it's a deprecated function because the default used tracker **facemesh** has no reset function implemented. Which was misle

[2021-06-28 09:41] #228 closed

[2021-07-02 17:17] jeffhuang commented on #224
Sorry for the delay. I've got a tag for it and was about to publish https://github.com/brownhci/WebGazer/pull/229 , but we've been discussing whether to keep it self-contained (simpler deployment) or add the tensorflow dependency (better for people using tensorflow for other things)

[2021-07-03 10:55] marcelklehr commented on #224
Personally, I'd make the npm package contain ready-made bundle including all deps, but also install all dependencies normally and allow consuming the package via import/require so people can use their own bundler.

[2021-07-08 09:20] idiotWu commented on #194
Sorry for commenting on a closed issue, but this can be fixed by adding a `playsinline` attribute to the video element. The following is a workaround for current version:

[code]

[2021-07-08 11:45] hanadi92 opened #230 "Webgazer + OpenGL"
**Environment**
I'm running WebGazer in a webview using the web engine of Qt5.15.2 framework - running Chromium 83 - in a Windows environment.

**Scenario**
This is the scenario of my issue:
1. Using the **Desktop OpenGL**: In this case **Webgazer does not work** (Face detection never succeeds with no console errors). The WebGL reports (https://webglreport.com/) show that the browser supports WebG

[2021-07-08 19:01] fakeharahman commented on #178
Hi, I followed the exact code given by @karthik-Gopalan for my react app and also added the `webgazer.params.showVideoPreview = true` but I'm still getting the same error.

DevTools failed to load source map: Could not load content for https://webgazer.cs.brown.edu/webgazer.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

and after a few seconds, I get this error:

webgaze

[2021-07-08 19:11] fakeharahman opened #231 "How to use WebGazer in React"
I have tried using `npm install webgazer` and importing at at the top of the file but I got the same error as mentioned in issue #196.  I tried using the script load method as given in issue #178 but that gave me an error that says :

DevTools failed to load source map: Could not load content for https://webgazer.cs.brown.edu/webgazer.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_COD

[2021-07-14 06:16] jeffhuang commented on #223
Thanks, we should merge this when we update to webpack5. I noticed that there's some other errors too.

[2021-07-14 06:20] jeffhuang commented on #190
I think this was fixed in https://github.com/brownhci/WebGazer/commit/c4fdb5ec41a6d979a5d2a63581f3bb2278b0f96f

[2021-07-14 06:20] #190 closed

[2021-07-14 07:00] jeffhuang opened #233 "Make tensorflow an explicit dependency"
Previously discussed https://github.com/brownhci/WebGazer/issues/207 we decided to merge tensorflow back into webgazer. But given the library doesn't co-exist with other versions of itself, we should separate them again as @RobinReborn originally did.

[2021-07-14 07:13] jeffhuang commented on #233
https://github.com/brownhci/WebGazer/commit/407647f740c9388d7f65f47cb9b964d43d863929 might be the commit to revert. We'd need to update all the examples/demos unless we make a separate build.

[2021-07-16 22:11] zetaexe opened #234 "Why is the documentation link broken?"

[2021-07-16 22:17] alexpapster commented on #234
Can you elaborate? I am not sure what page/link you are referring to

[2021-07-16 23:09] jeffhuang commented on #234
I just checked the links on the main page with a link validator, and only the healthaim.com news link was broken. Everything else is fine. Closing this issue but @zetaexe please reopen if you can specify the broken link.

[2021-07-16 23:09] #234 closed

[2021-07-17 14:39] zetaexe commented on #234
Before there was another list element with the label "Documentation" and on click it brought to "page not found", but now there isn't that elemen anymore so i guess the issue doesn't exist anymore

![Cattura](https://user-images.githubusercontent.com/50802628/126040221-d8adf4a7-c9aa-4e9e-b90a-b58a3cf52b3e.PNG)

[2021-07-21 08:53] LorenzoLarghi opened #235 "Loading tfjs from script tag in the same js file"
Loading [tfjs](https://github.com/tensorflow/tfjs#via-script-tag) from script tag (`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>`) and [webgazer](https://github.com/brownhci/WebGazer#to-use-on-any-website) (`<script src="webgazer.js" type="text/javascript">`) in the same js file will break some stuff: when using it, it always fires "an eye patch had zero wi

[2021-07-21 13:26] vipul7387497208 opened #236 "Not able to access webgazer in iOS browser"
Please help to access it in the iOS browser

[2021-07-22 18:16] mrb1090 opened #237 "Tensorflow WASM backend support"
Newbie question - does the current version of WebGazer support the TF WASM backend?  Seems to before 30-50% faster than WEBGL on some platforms...

Thanks,

Mike B

[2021-07-22 18:34] Skylion007 commented on #237
Yeah, it definitely does, just need to make sure you include the proper backend files that match the TF.js version included in Webgazer. Here is where you can select the backend: https://github.com/brownhci/WebGazer/blob/e18083c655f3e9dd2fae56baa72af00bfabd54b0/src/facemesh.mjs#L7

@jeffhuang Another reason we should seperate out the TF.js file from WebGazer in the next release, as it makes select

[2021-07-22 18:35] jeffhuang commented on #237
@Skylion007 yeah I agree. tracking this in this issue https://github.com/brownhci/WebGazer/issues/233 in case anyone wants to work on it. it requires updating the docs a bit too

[2021-07-23 13:59] karthik-Gopalan commented on #231
We still use the scriptload method in react and it works fine. I did not use the webgazer from the site. I cloned the repos and compiled my own. Works fine. Can you share your code as to how you are loading it ?

[2021-07-23 16:44] karthik-Gopalan commented on #236
I believe webgazer isnt meant for mobile devices. It works on PC's and MAC's supporting most of the popular browsers.

[2021-07-23 16:52] vipul7387497208 commented on #236
We have implement it for mobile browser
But we facing issue in ios, So, we need this supports for IOS devices browser,
Its supporting in the android devices browser.
So, we need this for tracking in mobile as well

[2021-07-23 16:57] karthik-Gopalan commented on #236
https://github.com/brownhci/WebGazer/issues/194

this might help.

[2021-08-06 15:17] fakeharahman commented on #231
I copied the exact code from the issue you opened. I didn't clone the repo but loaded the script from the webgazer website like this:
`    script.src = "https://webgazer.cs.brown.edu/webgazer.js" `

Could this be the issue?

[2021-08-11 21:34] killmepleaseOwO opened #239 "WebGazer + LimeSurvey integration"
Hello, for a university project I'm trying to integrate this library into a LimeSurvey template.
LimeSurvey gives the option to add scripts/libraries to the survey template so I imported it ...but now, when I open the console, I get these errors (shown in the first pic).
I wouldn't wanna open an issue but I really don't know what the problem could be and since you're the guys that made this librar

[2021-08-12 13:43] killmepleaseOwO commented on #172
how can I use relative import? what does it mean? thank u and sorry if the question is stupid

[2021-08-19 10:31] killmepleaseOwO commented on #239
pwease

[2021-09-19 15:07] HanZhang-psych opened #240 "Calibration FPS drop"
Hello!

I'm trying to implement a mouseless calibration for my study. My plan is to ask subjects to track a moving dot that updates its (x, y) position on every frame. On each frame, I will call `recordScreenPosition` to pass the current data to the `ridge` regression model. However, I noticed a substantial fps drop (60 --> ~ 20) when `recordScreenPosition` was added to each frame. My guess is tha

[2021-09-21 16:30] bermupe opened #241 "No CSV´s"
Hello everyone!

I need to test WebGazer Dataset.
I accomplished the requirements, python 3 with tornado, pytz, numpy and openCV. I added the ffmpeg path and I am using Chrone.

I downloaded code from https://github.com/brownhci/WebGazer, https://webgazer.cs.brown.edu/data/WebGazerETRA2018Dataset_Release20180420.zip too.
I unzipped files from WebGazerETRA2018Dataset_Release20180420 in www/data/src

[2021-09-30 21:29] jeffhuang commented on #236
Thanks everyone. Feel free to try the solution @karthik-Gopalan pointed to, but I'm closing the issue because we're only officially supporting WebGazer on desktop browsers for now.

[2021-09-30 21:29] #236 closed

[2021-09-30 21:32] jeffhuang commented on #235
Yes you're right it used to work in an earlier version, when WebGazer was separate from the tjfs library (which required two <includes>). We merged them and realize this is a drawback for people using tensorflow for other purposes. You're welcome to disentangle them, and we're hoping to do that officially sometime soon, but just haven't had the time yet to make the change.

[2021-09-30 21:58] jeffhuang commented on #241
hi @bermupe

You should see something like this, so I'm not sure why your server is starting multiple times. Are you launching the server from the /src folder? Your steps look good to me otherwise. If you open Developer Tools in Chrome, does it show any error? There may be one error with tensorflow.js but that's fine.
[code]

[2021-09-30 22:08] jeffhuang commented on #241
I've updated the webpage to be a little more clear, in hopes that helps.

[2021-09-30 23:12] jeffhuang commented on #233
Note to self: check that the [dataset processing](https://webgazer.cs.brown.edu/data/) still works after changing this, because it has a symlink to tensorflow.js that needs to be checked if it's no longer part of webgazer.js

[2021-10-03 20:17] LorenzoLarghi commented on #235
Thank you Jeff for your answer and let me take this chance to personally thank you for your amazing work in developing and maintaining this amazing piece of software!
I tried to isolate webgazer, but I had no success! If you have the time, could you be so kind to explain me programmatically how would you proceed to have WebGazer separated from tfjs?

[2021-10-04 00:18] jeffhuang commented on #235
Thanks for the kind words, it's certainly a team effort. Roughly speaking, you could built webgazer.js without tfjs embedded in webgazer.js, then add the import when you include webgazer.js. You can take a look at the version of webgazer a few releases back to see as well.

[2021-10-06 01:47] totallyreall opened #243 "`setGazeListener` `data` is always `null`"
I have been following the guide on the official website, but I can't get WebGazer to work. No matter whether the webgazer.js script is loaded from a local file or the WebGazer site, and no matter whether I open the HTML file as a file or host it on a local server and navigate to it, the data that arrives in the setGazeListener callback is always null. At the same time, I can see the webcam preview

[2021-10-06 02:43] jeffhuang commented on #243
Have you tried running the example(s) locally? Maybe you can start with that and modify it to suit your needs.

[2021-10-06 19:03] jeffhuang commented on #191
Sorry, there isn't enough detail here to debug. Please try the examples that come with WebGazer, and see if they work, and edit until you reidentify the problem.

[2021-10-06 19:03] #191 closed

[2021-11-04 08:04] kasperlsappel commented on #166
I'm having the same issue. I have done "npm install in the www/ folder" and I can see the IndexedDB. But data is not stored/loaded.

[2021-11-07 15:15] gurtner-it opened #245 "How to store data in MySQL db?"
Hi,
I just wonder how you would have to do this?

Any one already did that?

So far I managed to store the result from the calibration as json in a table:
[code]

My problem is, that I want to restore a calibration from the DB if a users deletes the local storage...

So how can I now import this data again?

And is it correct, that by default only the last 50 predictions are stored?

Would it even

[2021-11-08 07:43] jeffhuang commented on #245
Since you have the data on the client side with JavaScript, you can send it to the server via the regular methods and store it that way. For example, with websockets or AJAX or even simple HTTP GET requests.

Good luck

[2021-11-08 07:45] gurtner-it commented on #245
Hey Jeff,
thanks for you answer!
And if I want to import it again into an empty local forage? Is there no script for such thing already existing?
Is the above data, all the model needs?

[2021-11-08 15:02] gurtner-it commented on #245
Update: I managed to store the calibration data in Mysql as LONGBLOG type (it is a lot of data).

Now, If localforage is empty, I try to import the calibration stored in the db:

[code]

This script works, so if I check the localforage database in the browser dev tools, it looks exactly the same as before, but the eyetracking does not work anymore...

This is how localforage looks like after I run

[2021-11-08 19:12] jeffhuang commented on #245
So getStoredPoints() gets the 50 recent prediction accuracies, rather than what's used in the model. So those 50 points are not stored in localForage.

I would suggest taking a look at the localForage data after calibration, and storing that in your MySQL, then loading that instead of the getStoredPoints() data.

[2021-11-08 20:18] gurtner-it commented on #245
Hey Jeff, yup I'm doing that with the code above: get_eyetracking_calibration

To store the data I run:

[code]

After this I send the form and store it in the database. This part works ;)

Still the problem is that I get the error above about the missing "ImageData"...

[code]

Somehow I think I need a better function to stringify the data from localforage (maybe recursivley)... But I dont really

[2021-11-10 15:20] gurtner-it commented on #100
@jeffhuang : How can you get all the gaze points to create the heatmap?

[2021-11-10 19:01] jeffhuang commented on #100
@gurtner-it if you mean retroactively, you can't. But you can store the points as you get them (i.e. put them in an array) and then use them to draw the heatmap later.

[2021-11-11 05:37] gurtner-it commented on #100
@jeffhuang OK, thanks. But on what line of webgazer can I (for example at the the of a session) get all the points? Sorry for all the question, but this project is huge...

[2021-11-11 17:02] jeffhuang commented on #100
Sorry if I wasn't clear earlier. You can't retroactively get all the points from the past without saving them yourself. They're not saved in WebGazer, so you could use one of the methods for getting the current point (either the listener, or polling the current points, as described on https://webgazer.cs.brown.edu/) and put them in an array.

[2021-11-12 04:20] gurtner-it commented on #100
@jeffhuang Perfect. Thanks, now I got it ;)

I store the points in a new localForage DB. Not sure if this is a very smooth or efficient way, but storing the points in a input field limits me to 512kb...

[code]

[2021-11-12 05:33] gurtner-it commented on #245
@jeffhuang Hurrayy :)

Finally it works!

This gave me the hint I needed:
https://github.com/brownhci/WebGazer/issues/106#issuecomment-480759821

Now I have this function:

[code]

PHP Looks like that:

[code]

And finally I added this to webgazer:

[code]

And this:

[code]

So if anyone else is trying to do it...

[2021-11-12 06:52] gurtner-it commented on #106
YOu saved my day:

https://github.com/brownhci/WebGazer/issues/245#issuecomment-966833316

[2021-11-12 06:54] gurtner-it commented on #245
@jeffhuang Still a question: My idea is to restore a lost calibration file, if the browser is reset or the users changes the computer.
Does it make sense to restore the calibration stored in the mysql db (from PC A), and restore it on PC B (with another Webcam)? Or would you have to do a new calibration?

Thanks for your help!

[2021-11-13 21:50] gurtner-it commented on #16
I agree, would be nice!

[2021-11-17 18:32] MartinGladis opened #247 "Webgazer with Encore"
I have problem with install the newest version of webgazer (v2.1.0) via npm. When i try to compile the assets
`npm run dev`

I have this Issue:

`Module build failed: Module not found:
"./node_modules/webgazer/src/index.mjs" contains a reference to the file "./params".
This file can not be found, please check it for typos or update it if the file got moved.

"./node_modules/webgazer/src/index.mjs"

[2021-12-20 09:55] jardeng opened #248 "Problems using webgazer.js in areas restricted by network access"
Dear developers:
      I am currently using webgazer.js in China. I am restricted by Chinese access and cannot access foreign websites. I need to download the group1-shard1of1.bin file needed in model.json and model.json to my project local To load it, it will not work normally after it is placed locally. Please see the screenshot for the specific error. Please help me provide a solution, thank yo

[2021-12-26 06:44] foolishortalent commented on #237
A newbie too, have you successfully deployed webgazer as the TF WASM backend? Can I use it for reference?

Thanks,

Jack

[2022-01-22 16:00] ffigari commented on #171
Hi, I'm having a similar but slightly different issue. The experiment I need to run takes ~15 minutes to complete. I record however 9 screen positions. If some criteria is met then I recalibrate (call `clearData` from WG) and I record again  9 positions. I have had crashes with at most 3 of those calibrations. I do run a second facemesh model to detect this decalibrations. That component on its ow

[2022-01-27 08:56] foolishortalent commented on #237
Does the current version support the wasm SIMD threads backend? If so, which platforms does it support?

[2022-02-06 16:33] ffigari commented on #171
left a couple of extra details here https://github.com/jspsych/jsPsych/discussions/2490

[2022-02-17 11:21] colmoneill commented on #100
I wonder if anybody had any success on the recording and mapping to a heatmap? Did you have any luck @gurtner-it ?

Thanks and best regards,

[2022-02-17 12:05] gurtner-it commented on #100
@colmoneill Yes it worked.

I'm using localforage to store data points:

`

// start webgazer
    webgazer.setGazeListener(function(data, elapsedTime) {
        if (data == null) {
            return;
        }

        if(hasWebCam == 0) {
            hasWebCam = detectWebcam();
        }

        var xprediction = data.x; //these x coordinates are relative to the viewport
        var yprediction

[2022-03-18 10:40] bbonf opened #252 "Doesn't work in Safari when video is hidden"
It seems like webgazer stops working in Safari after calling `webgazer.showVideoPreview(false)`
It fails silently, so you end up with calibration data that makes no sense and is roughly fixed to a single point.

Tested on macOS 11.13.1 with Safari 14.1

[2022-03-19 09:33] jeffhuang commented on #252
thanks, this should be fixed now in my latest commit (with a bit of a hack). let me know if it still causes any problem

[2022-03-19 09:37] #172 closed

[2022-03-19 09:37] #223 closed

[2022-03-19 09:45] jeffhuang commented on #178
I think this is no longer an issue. please reopen if this is still a problem

[2022-03-19 09:45] #178 closed

[2022-03-19 10:00] jeffhuang commented on #245
I would suggest a new calibration. Any change in environment should be recalibrated.

[2022-03-19 10:00] #245 closed

[2022-03-19 10:01] jeffhuang commented on #188
Might be fixed in https://github.com/brownhci/WebGazer/pull/238

Please reopen if it's still an issue

[2022-03-19 10:09] jeffhuang commented on #171
Thanks for the report. I'm trying to look into this but it's a little hard to reproduce. If you use the Performance profiler in Chrome, and record a session that goes until it crash, do you notice anything suspicious in terms of memory usage continuing to increase even after a few minutes? (there's a Memory checkbox that turns on memory visualizing)

[2022-03-19 10:09] #159 closed

[2022-03-21 08:57] bbonf commented on #252
Hello Jeff,
Thanks so much for the very quick patch!
I think the main issue was indeed solved by this, but the patch seems to break some existing code in jsPsych that calls `webgazer.showVideo(false)` before the video stream is initialized (because videoElement is undefined).
It seems to work fine for me if I undo the changes in webgazer.showVideo but leave the rest.

[2022-03-21 09:05] jeffhuang commented on #252
Oh I see the issue, I'll fix it later today. Thank you

[2022-03-21 10:42] bbonf commented on #252
I just realized there's another issue here: `navigator.userAgent.indexOf("Safari") > -1` is true on Chrome and Edge as well

[2022-03-21 14:25] ffigari commented on #171
Hey @jeffhuang my best guess is that the used facemesh model has some underlying issue causing the crash, but I could not found a specific reason

[2022-03-21 19:04] goninty commented on #227
Hi, apologies for the bump on this old issue but do you know of any forks where calibration through fixation (no clicks) is possible? It seems that WebGazer was [adapted for use in jsPsych](https://www.jspsych.org/7.2/overview/eye-tracking/) and allows click-free calibration - but I cannot seem to get it working. Many thanks.

[2022-03-21 21:36] jeffhuang commented on #252
I think this should be good now. I'll put out a new dot release

[2022-03-21 21:36] #252 closed

[2022-03-21 21:36] jeffhuang commented on #252
tested on chrome and safari, with and without showVideo

[2022-03-21 21:40] jeffhuang commented on #161
this is obsolete, closing

[2022-03-21 21:40] #161 closed

[2022-03-21 21:43] jeffhuang commented on #231
I think this is resolved in https://github.com/brownhci/WebGazer/issues/231 but if not, please reopen. The missing map file is not a big deal, you can just put the map file in the appropriate folder.

Maybe it's an issue with setting the showVideoPreview param directly instead of `webgazer.showVideoPreview(true)`. You can take a look at the calibration example and just copy what is done there.

[2022-03-21 21:43] #231 closed

[2022-03-21 21:45] jeffhuang commented on #227
I believe this PR sort of does that: https://github.com/brownhci/WebGazer/pull/202

Besides that, I'm afraid we don't have the resources to offer much debugging support, but if it's an issue with jsPsych, maybe try their issue tracker?

[2022-03-21 21:45] #227 closed

[2022-03-25 05:47] jeffhuang commented on #171
hi all, could you check if you still encounter the issue in the latest WebGazer here in github? I think updating facemesh should have fixed it (thanks @ffigari for identifying and solving the issue)

[2022-03-25 14:25] ffigari commented on #171
great to see the change merged into the main repo @jeffhuang. As a remainder, the way the bounding boxes are computed is not the same as before. Maybe an extra check should be done to ensure the new way work as expected?

[2022-03-25 22:03] jeffhuang commented on #171
you're talking about the green/red box to encourage users to be near the center? it looked fine to me

but I've now tweaked it to account for the width/height as well, since I was already looking at that code

[2022-03-25 22:20] jeffhuang commented on #175
the .map now lives in the www/ folder, copied automatically on build, via commit https://github.com/brownhci/WebGazer/commit/6a43030a8f8c16784d71f3c66ab8412861971582

[2022-03-25 22:20] #175 closed

[2022-03-27 23:55] jeffhuang commented on #171
closing because I think the issue is resolved in release 3.0.0 but please let me know if you see it again. it's hard to test for situations that last this long

[2022-03-27 23:55] #171 closed

[2022-04-05 08:44] bbonf opened #253 "Dataset extractor broken on 3.0.0"
I think it has to do with the video element changes in cd26c906ae2c7227bc70d763e5d4887bdf4af725

[code]

[2022-04-05 23:45] jeffhuang commented on #253
Thanks for the report. You're probably right, because 3.0.0 changed the getPupilFeatures API a little bit. I'll look into it later this week.

[2022-04-06 06:20] jeffhuang commented on #253
Hmmm was this working with WebGazer 2.1.2? And are you just using the webgazer.js from the www/ folder? I'm not exactly sure what your setup is.

Generally, the video dataset was originally meant to work with a much older version of WebGazer, basically WebGazer 1.x. If it easily works with WebGazer 2.x then that's great. If you're fine with tinkering a bit, here the error is simply that estimateFa

[2022-04-06 07:18] bbonf commented on #253
Thanks for looking at that so quickly.
It does work with 2.1.2, which is good enough for me for now.
I only ran into this issue because I wanted to test #254 with 3.0.0

[2022-05-05 13:41] BasharAG opened #255 "Corrupted archive heatmap-tutorial"
I checked the commit with the heatmap
https://github.com/brownhci/WebGazer/blob/36457191097104b1601270e40706f3cab50606ee/www/media/example/heatmap-tutorial.zip

The zip file is corrupted. Can someone please reupload? I contacted the owner but didn't get a response

[2022-05-05 14:42] alexpapster commented on #255
Unfortunately, I don't have an archived version of it.

[2022-05-06 04:56] jeffhuang commented on #188
Okay, reopening issue

[2022-05-08 05:55] jeffhuang commented on #182
unclear what the problem is, closing issue

[2022-05-08 05:55] #182 closed

[2022-05-08 05:56] #241 closed

[2022-05-08 05:57] #188 closed

[2022-05-08 06:04] jeffhuang commented on #198
I haven't disabled https to test whether this is true (sorry for being a bit lazy), but https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia still notes "getUserMedia() is a powerful feature which can only be used in [secure contexts](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts); in insecure contexts, navigator.mediaDevices is undefined, preventing a

[2022-05-08 06:04] #198 closed

[2022-05-08 06:06] jeffhuang commented on #248
There was another user who reached out and wanted an internet-not-required configuration. I'd love to see this too, as I think it's the same issue. I thought that WebGazer 2.3.2 might not need to download the model, but now I'm not so sure. There should be a way to do this (caching the model), but I haven't investigated further. So some help would be appreciated.

[2022-05-08 21:23] Tectract commented on #248
Brown University should consider restricting access to potentially dual-use technology so it cannot be accessed by the Chinese military.

[2022-05-09 07:13] bbonf commented on #248
Kinda ugly workaround, but here's a script I use to replace model loading from absolute tensorflow-hub URLs with local URLs in  (built) webgazer.js:
https://github.com/UiL-OTS-labs/WebGazer/blob/master/localize.sh

[2022-05-11 18:24] ChocolateLoverRaj opened #256 "Live demo served on internet"
Clicking a link is way more convenient than downloading a folder and running commands. It's also much easier to see a live demo on a phone.

Based on this section:

https://github.com/brownhci/WebGazer/blob/63b5a3a898b00f29e26ea8cf2d34847992e49716/README.md#L54-L69

It seems like the files in `www` just need to be served in an html server. This could be easily done with GitHub pages.

[2022-05-11 20:10] jeffhuang commented on #256
They're already on the live website. The www folder is hosted at webgazer.cs.brown.edu

[2022-05-11 20:10] #256 closed

[2022-05-12 21:28] shubhvachher opened #257 "Webgazer on saved webcam video files"
Hello! I'd like to run Webgazer on the webcam video files of the participants in the [EVE dataset](https://ait.ethz.ch/projects/2020/EVE/). They have the webcam videos as well as TOBII eye tracking based gazepoints on screen saved in the dataset.

If I could make a few "calibration frames" with the webcam video of the participant along with the TOBII based screen gazepoint, how would I input that

[2022-05-12 22:06] shubhvachher commented on #253
I can see from #253 @bbonf that dataset extractor does work on Webgazer 2.1.2 so I reverted to it using `git checkout 6a43030a8f8c16784d71f3c66ab8412861971582` . Running the `webgazerExtractServer` python code gave me an output of

[code]
and then nothing... So I checked the console log on my browser and it has
[code]
I'm not adept at javascript :/ What can I do to fix this?

[2022-05-13 17:13] shubhvachher commented on #257
I can see I can use the dataset extractor work (`webgazerExtractClient.js`) to facilitate this. I tried to read through it but couldn't understand the logic behind this bit:

https://github.com/brownhci/WebGazer/blob/master/www/data/src/webgazerExtractClient.js#L234

[code]
Doesn't webgazer also need the webcam frame for calibrating using mouse clicks/moves? In this bit of code it seems like we're

[2022-05-13 18:46] #257 closed

[2022-05-13 18:50] shubhvachher commented on #253
The dataset extractor works on the first commit of Webgazer 2.1.2: `git checkout 63eb7de29fb96a10f36fcfc18330ed08be4f8a2c` instead.

[2022-05-23 05:11] aishaalampublic opened #258 "Vulnerabilities issue"
Hello,

I am having trouble running the webgazer project using npm install. I am using node.js version 17.6.

Below are the vulnerabilities i get when i run npm audit:

`# npm audit report

ajv  <6.12.3
Severity: moderate
Prototype Pollution in Ajv - https://github.com/advisories/GHSA-v88g-cgmw-v5xw
fix available via `npm audit fix --force`
Will install parallel-webpack@1.5.0, which is a breaking

[2022-05-23 05:17] germanenik commented on #77
is there anything we could edit in index.mjs to get rid of the https requirement? trying to run a user study on our lab-mates

[2022-05-23 16:49] jeffhuang commented on #77
@germanenik you can comment out the bit on line 627 in index.mjs if you want to remove the warning, but if you can't run WebGazer over http at all, it's a browser restriction

[2022-05-31 13:55] merlenchanteur opened #259 "Using a external camera"
Hello,
I'm encountering issues with Webgazer when trying to use an external camera (usb webcam). The program works well with the built-in camera of my laptop, but I can't have it working with an external webcam (even when using a device with no built-in camera).
Is it normal, and is there something that I should change in the code to adapt it to my situation?
For the information, using an external

[2022-05-31 14:10] jeffhuang commented on #259
Sorry you're having an issue. I just tested the demo on https://webgazer.cs.brown.edu/ with a Logitech C920 on Windows, and it works just fine. If you want to try and debug, I would recommend starting by looking at the getUserMedia() call in index.mjs and seeing if there are multiple devices to enumerate through: https://webrtc.org/getting-started/media-devices

[2022-06-02 02:35] Warren93 opened #260 "Uncaught (in promise) TypeError: failed to fetch"
I am trying to run webgazer from an old portable Chromium version (61) on an offline computer (yes, I know it's an odd use case).

When I run the sample webgazer.setGazeListener code from https://webgazer.cs.brown.edu/ I get the error in the title. I am running this on a page served from a local Node.js server. The server doesn't use HTTPS by default, but I thought that might not matter since this

[2022-06-02 03:31] Warren93 commented on #260
Ah OK looks like it's failing to fetch a dependency, as the error implies. And here I though the single giant webgazer.js file would somehow magically do everything on it's own...

[2022-06-03 15:21] merlenchanteur commented on #259
Thank you for your help!

[2022-06-03 15:21] #259 closed

[2022-06-03 15:27] merlenchanteur commented on #255
It seems that we can still access the files [from the PR](https://github.com/brownhci/WebGazer/pull/94/files)? I don't know if it's sufficient to get it back and put it in the master repo, but I would also be very interested to have a heatmap feature :D
Cc @alexpapster @jeffhuang

[2022-06-03 17:35] alexpapster commented on #255
It would be gre

[2022-06-27 17:00] merlenchanteur opened #262 "Record a session"
Hello,

How should I proceed in order to record an eyetracking session (camera recording + gaze points)? I did not find the solution…

Thank you in advance

[2022-06-27 17:27] #262 closed

[2022-06-28 05:34] ProPriyam opened #263 "Webgazer Prediction reverts back to center on extremes."
The issue is when I move my eyes to the extremes of my vision after a certain point the webgazer prediction reverts back to center. I have depicted the problem via [this](https://drive.google.com/file/d/1wcKxObqjhjA1j-RIHaMsNPQaPxJnwzMn/view?usp=sharing) graph as well.
- In this graph I start looking from the center and gradually move my eyes to the left and as you can see after a certain point th

[2022-06-29 16:20] StevenSeiden opened #264 "Storing calibration model"
Hello! I apologize if this has been asked before, but I was wondering if there is a way to store the model that has been created after the initial calibration. Thank you!

[2022-07-14 10:12] larsbonczek opened #265 "TypeError in ridgeWeightedReg.mjs"
We have encountered this error

in line 68 of ridgeWeightedReg.mjs (see below). I haven't debugged the problem carefully yet, but looking at the surrounding code, I feel like I might have spotted the mistake:

https://github.com/brownhci/WebGazer/blob/034974b52375f78ac57a09ed377c052ba0c1dad8/src/ridgeWeightedReg.mjs#L50-L70

In line 68 we access a property of `weightedXArray[i]`, which can only be

[2022-07-15 20:06] jeffhuang commented on #265
Thank you! You may have identified a key bug. I'll look into this soon.

[2022-07-17 18:14] jeffhuang commented on #265
@larsbonczek can you also say under what conditions the exception was thrown? Like had the code been running for a while, or was this a certain configuration?

[2022-07-17 18:38] larsbonczek commented on #265
This error occurred in an online experiment built using [PCIbex](https://doc.pcibex.net/). The exception is usually thrown part-way into the experiment (which is quite long).

I took a look at [PCIbex' implementation of the eye tracking element](https://github.com/PennController/penncontroller/blob/master/src/elements/PennElement_eyetracker.js) and realized that it generates a lot of data points d

[2022-07-17 19:09] jeffhuang commented on #265
I think you're exactly right. weightedXArray and weightedYArray data are being accessed with the trueIndex index in lines 66-67, but lines 68-69 and even 72-73 treat it like a regular array, so there's a mismatch between the index used, once the DataWindow size is about 700 (the default window size)

The bug seems to be introduced in an [old commit](https://github.com/brownhci/WebGazer/commit/30b6

[2022-07-17 19:43] larsbonczek commented on #265
I'm not familiar with webGazer, so I don't think that I am the right person to test this. Would you be willing to give it a try?

[2022-07-19 13:23] jeffhuang commented on #265
I'm going to look this over a little bit, maybe give it a brief test, but the PR seems pretty harmless either way. @alexpapster said she'd be able to test it a bit more thoroughly later but I think it's fine to merge in the meantime. Thanks again for investigating Lars.

[2022-07-24 18:59] #265 closed

[2022-07-24 19:01] jeffhuang commented on #263
Thanks for looking into this. It might be a bug. How long does it take for this to happen? I wonder if the recent commit fixes this...

[2022-07-24 19:02] jeffhuang commented on #264
I think you could use a method like this? https://github.com/brownhci/WebGazer/issues/245

[2022-07-24 19:03] jeffhuang commented on #258
Probably some libraries that need to be updated. I think most these are for the build or website, so shouldn't affect the webgazer library itself. But would be nice to update the libraries at some point, when someone has time to do that.

[2022-07-24 19:05] jeffhuang commented on #260
Yes, it looks like the latest facemesh, which was updated to fix a crash, retrieves models from online. The older facemesh does not, and there's probably some way to get the models offline too. Would be nice if someone looked into it!

[2022-07-24 19:27] jeffhuang commented on #260
Same issue as https://github.com/brownhci/WebGazer/issues/248

[2022-07-24 19:33] jeffhuang commented on #195
The setVideoViewerSize line should work fine. I just tried it and I didn't get any error.

But I think you need to use asynchronous calls so that things are loaded before you use them. See the examples.

[2022-08-13 11:01] universeroc opened #268 "Uncaught (in promise) DOMException: Requested device not found"
examples online anyone of the very three can not work! even after clone the source run it on local, please help me how to make it run firstly

[2022-08-13 11:05] universeroc commented on #268
It's my computer's problem, use another macbook it's OK to run

[2022-08-13 11:05] #268 closed

[2022-08-28 16:22] umtSaik opened #269 "Web App/Page freezes when Face goes out of Camera or has sudden movements"
When the web page loads, with a face present in the camera box, it will work okay, but if I go out of the view of the camera and then come back even after a second, or If I move quick for the camera to be able to tell it's a face, it freezes, not the app, but only the projected points of the face and the red circle which tracks the gaze, the camera and the rest of the page works fine, just the pro

[2022-09-15 11:13] animeshokhade commented on #176
@Skylion007

Hey,

We've been using with the WebGazer.js library on our web-app to track eye-gaze. So far, this library has not generated any integration issues with our product.

However, we're currently in the process of designing and developing a feature which requires the user to switch tabs while we capture eye-gaze. This workflow is rendering a bug. The listener of WebGazer is not responding

[2022-09-15 11:15] animeshokhade opened #270 "WebGazer is not able to capture Data on switching tabs in Browser"
Hey,

We've been using with the WebGazer.js library on our web-app to track eye-gaze. So far, this library has not generated any integration issues with our app.

However, we're currently in the process of designing and developing a feature which requires the user to switch tabs while we capture eye-gaze. This workflow is rendering a bug. The listener of WebGazer is not responding the moment we sw

[2022-09-16 15:25] Alfx25 opened #271 "Webgazer blink detection"
hello, there is any way to implement blink detection with webgazer library? thanks

[2022-09-16 16:12] Alfx25 commented on #271
could you suggest me some approach i can try? Actually my system is fully builded thanks to webgazer but i don't know to implement blink with it.
thanks for you patience

[2022-09-16 18:18] alexpapster commented on #271
Sorry I don’t have a concrete algorithm to suggest, I would honestly start with a google scholar search on the topic and see what solutions are out there. Let us know if you are successful with it!

[2022-09-19 15:16] patricio1979 opened #273 "Feature request: Minified version"
Hello, first thank you for the amazing library.

Is there a way to build a minified version of webgazer.js ?
I'm working inside the p5js editor and 15mb of library is too big.

Also, is there a way to work with video feed instead of webcam?

[2022-09-19 16:29] jeffhuang commented on #273
Yes you should be able to toggle the minified option. See https://github.com/brownhci/WebGazer/blob/master/webpack.config.js

For video feed, take a look at the version here:
https://github.com/brownhci/WebGazer/tree/master/www/data/src

[2022-09-27 08:23] rhystmills opened #274 "Feature request: Types"
Hello,

I think types would be a useful addition to WebGazer; I'm currently working on [a TypeScript project](https://github.com/rhystmills/eyegaze-browser) that uses WebGazer and have found that types would be useful for my purposes.

If there's any appetite in your team, I'd be happy to raise a PR adding types to WebGazer itself, or else add something to [DefinitelyTyped](https://github.com/Defi

[2022-10-11 09:06] alexpapster commented on #270
Hi, that sounds right, it's not supposed to be able to provide gaze
predictions when the user is not on the tab that WebGazer is hosted. You
should be able though to load calibration data if you leave a webpage and
go to another one within the same website.

On Thu, Sep 15, 2022, 4:16 AM Animesh Okhade ***@***.***>
wrote:

[2022-10-13 15:13] #240 closed

[2022-10-13 15:26] HanZhang-psych opened #276 "v3.0.0 vs v2.1.0 improvements?"
Hello!

First of all, thank you for the great package! I have been using webgazer 2.1.0 to run some simple eye-tracking studies and it has been working well so far. I wanted to know if version 3.0.0 has any major improvements over version 2.1.0 in terms of tracking accuracy and precision. Trying to decide whether I should update to 3.0.0 or not.

Thanks!
Han

[2022-11-02 22:40] koll93 commented on #237
I made a version with WASM https://github.com/koll93/WebGazer/tree/landmarks-wasm . To run in an extension with a manifest 3, specify in the manifest "content_security_policy": {
    "extension_pages": "script-src 'self' 'wasm-unsafe-eval'; object-src 'self'"
  }

[2022-11-29 08:59] lukaas33 commented on #114
This issue implies that there is a blink detection method inside of webgazer but #271 says that there is no such method.
So is there a blink detection method in webgazer that can be turned on in some way?